[2016-04-26 12:12] poussa opened #7 "Rules engine is missing"
`npm install`
`node first_server.js`

module.js:327
    throw err;
    ^

Error: Cannot find module './dollhouse/rules_engine'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous> (/Users/spoussa/src/iot/SmartHome-Demo/first_server.js:16

[2016-04-27 04:19] ralf-graefe commented on #7
I also noticed that. first_server.js is referring at 2 locations to the dollhouse directory. However the path name has changed to gateway-webui.

Changing directory name in script solves it.

Ralf

From: Sakari Poussa [mailto:notifications@github.com]
Sent: Tuesday, April 26, 2016 2:13 PM
To: 01org/SmartHome-Demo <SmartHome-Demo@noreply.github.com>
Subject: [01org/SmartHome-Demo] Rules engine is m

[2016-04-27 05:26] poussa commented on #7
@ralf-graefe can you send a path to fix it ?

[2016-04-28 10:26] ralf-graefe commented on #7
Yes, I am traveling, will do this evening.

Ralf

From: Sakari Poussa [mailto:notifications@github.com]
Sent: Wednesday, April 27, 2016 7:26 AM
To: 01org/SmartHome-Demo <SmartHome-Demo@noreply.github.com>
Cc: Graefe, Ralf <ralf.graefe@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [01org/SmartHome-Demo] Rules engine is missing (#7)

@ralf-graefe<https://github.com/ralf-graefe> can y

[2016-04-28 18:34] ralf-graefe commented on #7
Here is the little fix:

--- first_server.orig
+++ first_server.js
@@ -4,7 +4,7 @@
     , app = express()
     , systemd = require('systemd');

-app.use(express.static(__dirname + '/dollhouse'));
+app.use(express.static(__dirname + '/gateway-webui'));

var fs = require('fs');
var vm = require('vm');
@@ -13,7 +13,7 @@
     vm.runInThisContext(code, path);
}.bind(this);

-var rules = require('./doll

[2016-06-17 09:25] gvancuts commented on #7
Unless I've missed something, the fix for this was merged in https://github.com/01org/SmartHome-Demo/pull/8. I'm therefore closing this ticket, let me know if it needs to be re-opened.

[2016-06-17 09:25] #7 closed

[2016-06-20 01:44] haoxli opened #18 "Fail install python dependencies while setting up SmartHome demo"
Hi
I’m setting up SmartHome Demo[1]  in Ostro[2], but there are two dependencies fail to install.
- [Icarus](https://github.com/tripzero/icarus) [pip install error]: libraries lapack not found in ['/usr/lib']
- [Twisted](https://twistedmatrix.com/) [pip install error]: /usr/lib/gcc/x86_64-ostro-linux/5.3.0/../../../../x86_64-ostro-linux/bin/ld: cannot find –lssp

Errors looks like the libssp.so wh

[2016-06-20 10:13] gvancuts commented on #18
@uhofemei @kiendinh @nagineni can you please take a look?

[2016-06-20 10:51] kiendinh commented on #18
@haoxli I ran to problems with the latest Icarus, so I used the old Icarus version in the repository instead. As a workaround, you can do:
$ git checkout 258d533e4ba3e37fa1a9641c1529b22941eda97f
Then you'll see a py_modules.tar.gz included in the folder. Copy that to another location and checkout the latest master again. The tarball contains other modules with versions confirmed to worked with the

[2016-06-20 13:16] nagineni commented on #18
libssp.so is missing on the ostro dev image and causing the build failure. Please report a bug about missing libssp on the image.

[2016-06-20 13:21] nagineni commented on #18
Tarball contains the pre-compiled version of python modules and that's the reason they are working fine.

[2016-06-20 15:37] uhofemei commented on #18
I opened a bug in the public project bug tracker. I would assign this bug to Kevron, but it seems Kevron hasn't created an account in public Jira yet.

Here's the link: https://ostroproject.org/jira/projects/OP/issues/OP-80

[2016-06-20 15:54] gvancuts commented on #18
We're not using that yet, can  you use https://github.com/ostroproject/ostro-os/issues instead?

[2016-06-20 16:00] uhofemei commented on #18
https://github.com/ostroproject/ostro-os/issues/127

[2016-06-23 04:47] haoxli opened #19 "Icarus tracker run error following SmartHome Demo guide"
Following the README guide to setup SmartHome Demo in [Ostro](https://download.ostroproject.org/builds/ostro-os/2016-06-16_08-11-07-build-464/images/intel-corei7-64/ostro-image-swupd-dev-intel-corei7-64.dsk.zip),  and resolve the Python dependencies using rhe workaround in https://github.com/01org/SmartHome-Demo/issues/18, then start the Home GW SW:
[code]
Error occurs by icarus tracker:
[code]
I

[2016-06-23 08:48] gvancuts commented on #19
At first glance this looks a bit like a possible problem with the server address/port used. Can you check the status of your network configuration (and also whether the server address/port is reachable)?

[2016-06-23 12:17] nagineni commented on #19
Looks to me that icarus module is broken with the new version of dependency module `autobahn` due to the WebSocket API change in it. As a workaround, you can use the old version of `autobahn <= 0.10.9` or try removing argument `debug` at https://github.com/tripzero/icarus/blob/master/python/icarus/solarserver.py#L18

[2016-06-29 01:55] haoxli commented on #19
@nagineni  Thank you, it work with `autobahn == 0.10.9 `, the version I used is `0.14.0`, it's too high.

[2016-06-29 01:55] #19 closed

[2016-07-13 13:33] nagineni commented on #18
Solar panel can be tested without the Icarus and other python modules now. Run the solar.js on edison and control the panel from the 3D UI or by setting the simulationMode property true/false using REST API server.

[2016-07-13 13:33] #18 closed

[2016-07-13 20:05] uhofemei commented on #18
:+1:

[2016-09-21 13:17] qiuzhong opened #26 "Ocf temperature server crashes when receiving requests"
## Steps:
1  Create a temperature resource server:
[code]

2 Launch the [smart-home-control client](https://github.com/siovene/smart-home-control) to discovery the resource.

[code]

## Environment:
Ostro image: #490
SmartHome-Demo version: 1.1.0-5
smart-home-control version: v0.6.0

[2016-09-21 15:25] #26 closed

[2016-09-23 01:37] qiuzhong opened #28 "button.js and button-toggle.js use the same resource interface name"
The JavaScript OCF server [button-toggle.js](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/js-servers/button-toggle.js#L13) and [button.js](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/js-servers/button.js#L7) use the same resource interface name(<code>/a/button</code>)

If an OCF client finds a button resource, it's difficult to know if the resource is used fo

[2016-09-23 15:42] gvancuts commented on #28
This is a good point @qiuzhong. OCF only really defines the button resource as we have it in button.js (see http://oneiota.org/revisions/1407). We added this variation with commit ID
61c52b528998b870100151db3cdbc7200fa394a8  because it provided a better user experience when operating the demo but we did not want to change the client code. We never intended to use both at the same time.

As far as

[2016-09-26 03:46] ttzeng commented on #28
Hi Geoffroy,

There is a "Binary Switch" resource defined (oic.r.switch.binary) in the
OCF spec, it looks to me the toggle button might be represented by this
resource type?

Best Regards,
Tonny

On Fri, Sep 23, 2016 at 11:42 PM, Geoffroy Van Cutsem <
notifications@github.com> wrote:

[2016-09-26 11:04] gvancuts commented on #28
We could change it to that, I agree it may be more consistent with the behaviour.

As an FYI, we already have a [switch.js](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/js-servers/switch.js) OCF server which is used with [Groove Switch P](https://www.seeedstudio.com/Grove-Switch(P)-p-1252.html).

[2016-09-26 14:29] nagineni commented on #28
* button.js - represents button switch resource type and behaves as defined in OCF data model - http://oneiota.org/revisions/1407
* switch.js - represents binary switch resource type, but this was not tested as we don't have a sensor. - http://oneiota.org/revisions/1393
* button-toggle.js - This was added to make the button sensor to behave like a switch(toggle between ON/OFF) since we all had but

[2016-09-26 15:18] gvancuts commented on #28
👍

[2016-09-26 15:49] gvancuts opened #29 "Update needed (?) to the raml/json file describing energy consumption"
It looks to me that we should update the energyConsumption models in the ocf-servers/doc folder (i.e. [this](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/doc/energyConsumption.raml) and [this](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/doc/oic.r.energy.consumption.json) files) to reflect the fact that ch-1 and ch-2 transmit two distinct power measurements (a

[2016-09-26 15:51] gvancuts opened #30 "Add README.md to ocf-servers/doc"
We should add a short README.md file to ocf-servers/doc to explain users what to find in all three sub-folders.

[2016-09-27 06:11] ttzeng commented on #28
In the latest OIC_Resource_Type_Specification_v1.1.0, it only calls out
"oic.r.switch.binary", maybe it desperate "oic.r.switch" resource type?

On Mon, Sep 26, 2016 at 10:29 PM, Sudarsana Nagineni <
notifications@github.com> wrote:

[2016-09-27 07:09] ttzeng commented on #29
Unfortunately, there already has a Energy Consumption resource type (oic.r.energy.consumption) defined in the OCF spec, but the associated properties are complete different than what we are using in the Smart Power Meter communications. The OCF energy consumption resource type represents only 1 channel, we may need to register 2 servers for our case. IMHO.

[2016-09-27 07:24] ttzeng commented on #28
I really think the issue is caused by registering two resources with the same URI and resource type. From the binary switch description, simple NC/NO switches and toggle switches are all qualified as oic.r.switch.binary, but if multiple resources will be hosted on a single device (like we launch ocf servers from one Edison board), it's the responsibility of device implementation to use unique URI

[2016-10-05 12:59] gvancuts opened #35 "Some errors ans crashes in the Docker container"
I have pulled the Docker container on my Linux (Fedora 24) system as follows:
- sudo docker run --name portal -p 3030:3000 -p 3031:4000 gvancuts/smarthome-demo

But I'm seeing a number of errors and tracebacks when inspecting the logs of the containes (see smarthome-container.txt attached).
[smarthome-container.txt](https://github.com/01org/SmartHome-Demo/files/511187/smarthome-container.txt)

[2016-10-05 13:00] gvancuts commented on #35
@ichbinblau could you please take a look at this issue?

@ttzeng, fyi

[2016-10-08 08:28] ichbinblau commented on #35
@gvancuts @ttzeng
This is due to an unresolved issue of supervisord [122]. (https://github.com/Supervisor/supervisor/issues/122#issuecomment-6024816)
As celery worker, web-portal and rabbitmq all depends on MySQL server, they start up at the same time even though I set up the priority in the config file. Usually a restart of the container would solve the problem after users set up the gateway info

[2016-10-12 03:36] ttzeng commented on #35
With PR#37, now the docker image seems to pass the MySQL connection refused error. But it throws below errors:

[2016-10-12 03:02:32,706: INFO/MainProcess] Connected to amqp://guest:**@127.0.0.1:5672//
[2016-10-12 03:02:32,712: INFO/MainProcess] mingle: searching for neighbors
[2016-10-12 03:02:33,719: INFO/MainProcess] mingle: all alone
[2016-10-12 03:02:33,727: WARNING/MainProcess] celery@e4c01c

[2016-10-12 06:29] wanghongjuan opened #39 "Uncaught ReferenceError: makeVisible is not defined"
Following the below steps to set up gateway-webui of SmartHome Demo with [Ostro#507] on Galileo.

#### Reproduce Steps:
1. Flash Ostro #507 using Galileo for gateway
2. Connect to network using cable(no wifi module on MinnowBoard/Galileo)
3. Set the proxy if needed.
4. Clone the SmartHome-Demo repo on device.
5. Edit package.josn and remove iotivity-node dependency
6. Install  needed dependencies

[2016-10-13 00:36] gvancuts commented on #39
@ttzeng, could you take a look at this?

[2016-10-13 03:08] ttzeng commented on #39
The 'makeVisible' method was a planned TODO, but never implemented yet before we decided to phase out the webGL UI by the rule engine.

[2016-10-13 07:44] ttzeng opened #41 "rgb_led only updated by 'PUT' request instead of 'POST' request"
According to OIC Resource Type Spec v1.1.0, Color RGB resources should get updates via HTTP POST request, but the changeHandler of rgb_led.js only get called on PUT requests.

[2016-10-13 08:03] nagineni commented on #39
Yeah, this is relevant to the old 3D model UI functionality.

[2016-10-13 09:22] ttzeng commented on #41
Looks like an upstream bug that iotivity-node treats POST requests as resource create requests, PUT requests as resource change requests [1], how to deal with this kind of upstream bug?

[1] https://github.com/otcshare/iotivity-node/blob/master/lib/OicServer.js#L168-L200

[2016-10-13 23:59] gvancuts commented on #41
I saw you filed the issue on the iotivity-node site directly (https://github.com/otcshare/iotivity-node/issues/83), this is the right course of action I believe, thanks!

[2016-10-14 00:28] gvancuts opened #42 "Improve 'command' in smarthome-web-portal/tools/docker/web-portal.conf (remove 'sleep')"
Improve the commands used to start web-portal, rabbitmq and celery-worker in smarthome-web-portal/tools/docker/web-portal.conf by getting rid of the "sleep" operation in the "command" instruction.

[2016-10-19 02:05] wanghongjuan commented on #35
@ichbinblau I have the same error with @ttzeng and have other error which message like `IoTRequestError: IoT request failed (404)`, show a part of information:
[code]
please see below attachment about the detail information.
[docker-running-log.txt](https://github.com/01org/SmartHome-Demo/files/537778/docker-running-log.txt)

[2016-10-19 05:14] ichbinblau commented on #35
Hi, @wanghongjuan. Tonny got this error cos his gateway use http protocol instead of https. Plz firstly make sure that the gateway is accessible at the gateway IP you updated in the admin portal. As for the second error message, it means that the sensor (guid =66326334-6537-6231-2d66-3138322d3434) was not found. Plz confirm that you can get the sensor data <gateway-ip>:8000/api/a/<sensor_type>?di=

[2016-10-20 02:04] wanghongjuan commented on #35
@ichbinblau Thanks for the information, it is make sense to me. I tried to add my gateway which connected more sensers to the admin portal, but got the same sensors information as your gateway. Actually, I got a different uuid when run the sensor fan on my local gateway, so I can not access `<my-gateway-ip>:8000/api/a/fan?di=66326334-6537-6231-2d66-3138322d3434`. I think this is weird. Is there an

[2016-10-20 02:43] ichbinblau commented on #35
@wanghongjuan you may refer to the guide in the [README.md](https://github.com/01org/SmartHome-Demo/tree/master/smarthome-web-portal/tools/docker) (step 5).

[2016-10-20 03:22] wanghongjuan commented on #35
Thanks, For the second question, it works now.

[2016-10-20 03:36] ichbinblau commented on #35
Hi, @wanghongjuan The first error is due to he multiply gateways configured in admin portal. One is them is unreachable (does not exist). The error will be gone if you remove the other gateway.

[2016-10-20 09:17] gvancuts commented on #42
This has been addressed (and fixed) in #44

[2016-10-20 09:17] #42 closed

[2016-10-24 10:38] wanghongjuan commented on #35
@ichbinblau thanks for your information.There is an issue when I want to delete the exist gateway: `Internal Server Error(500): The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.` But it's fine when I delete the new added gateway. Do u have this issue? I tired to update the gateway IP and geo lo

[2016-10-28 07:08] ichbinblau commented on #35
Hi, @wanghongjuan. I can also reproduce it. I will fix this.  Thanks

[2016-11-01 05:56] wanghongjuan opened #49 "Failed to delete a exist gateway in admin portal"
Following the guide [README](https://github.com/01org/SmartHome-Demo/tree/master/smarthome-web-portal/tools/docker)(Step 5) to point the portal to the gateway server, but there is an issue occurred when I want to delete the exist gateway: `Internal Server Error(500): The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an err

[2016-11-01 05:59] wanghongjuan commented on #35
Hi, @ichbinblau I create a new ticket(#49) to track the delete issue. Actually this crash issue has been fixed, so I think we can close it now. How do you think about this?

[2016-11-01 07:27] ichbinblau commented on #35
Hi, @wanghongjuan. Yes, this issue has been fixed, You may want to close it. Thank you.

[2016-11-02 03:13] wanghongjuan commented on #35
It seems that only the reporter of this issue can close it. @gvancuts could you please close this issue?

[2016-11-02 08:28] gvancuts commented on #35
Sure, closing as per previous comments.

[2016-11-02 08:28] #35 closed

[2016-11-07 08:41] ttzeng opened #51 "The ambient_light.js may update lux values in integers"
The illuminance values from the illuminance sensor should be float point values [1], however the
ambient_light.js may send out the representation with integer illuminance value. Please reference below log (from a OCF client using Iotivity Java library) which outputs the object type of the illuminance value from ambient_light.js:

D/OIC-JNI: OcRepresentation_getValue
E/CardIlluminance: _java.lang.D

[2016-11-08 05:34] ttzeng commented on #51
This should be [an upstream bug](https://github.com/otcshare/iotivity-node/issues/87).

[2016-11-09 11:41] wanghongjuan opened #54 "Failed to get data of sensor in sample environmental-sensors"
## Reproduce Steps:
1. Connect BME280, Grove LCD and FTDI to Arduino 101 following the [README](https://github.com/01org/SmartHome-Demo/blob/master/sensors/environmental-sensors/README.md) file
2. Add debug message to file main.c
`x86/src/main.c`: Add some printk messages into “main” and “sensor_ipm_callback”
`arc/src/main.c`: Add some printk messages into “main”
3. Build arc/x86 application and f

[2016-11-09 12:43] gvancuts commented on #54
@kiendinh , can you please take a look?

@wanghongjuan , could you share the specifics of the code changes you made?

I'll let @kiendinh confirm but I have a vague recollection that the serial output is not directly connected so unless there is an IPM set-up with the x86 it may be 'normal' that you don't see anything.

[2016-11-09 15:13] kiendinh commented on #54
@wanghongjuan Could you please check if the ARC app was flashed correctly? It's normal that the custom printk messages should appear on the output log. You can check with other sample apps in the Zephyr source tree like the "hello world" to see if it works and go back to the ARC app again.

Please also check if the kconfig option "CONFIG_ARC_INIT=y" in the x86/prj.conf file is still the same. In c

[2016-11-10 07:15] qiuzhong commented on #49
I got this issue too. Here is the detailed error log:
[code]

[2016-11-14 07:04] wanghongjuan commented on #54
Hi, @gvancuts Change code show as below: `x86/src/main.c`: insert `printk("Debug: sensor_ipm_callback");` to line 180 and `printk("Debug Bluetooth\n");` between line 229 and line 230. `arc/src/main.c`: insert `printk("debug bme280: %s\n", ipm);` between line77 and line 78, `printk("debug adc: %s\n", ipm);` between line 84 and line 85.
@kiendinh
I try to restore the Arduino 101 to factory settings,

[2016-11-14 07:40] kiendinh commented on #54
How many BME280 modules do you have? There is some problem with the module so that it cannot read data from it. It would be good exchange with others to see if they work. If possible, please remove the LCD and keep only the BME280 so that the circuit becomes simpler since you don't need any pull-up circuit. Just connect the BME directly: SDL - SDL, SDA - SDA, GND - GND and 5V - Vin.

[2016-11-14 08:05] wanghongjuan commented on #54
OK, I have two BME280 modules and re-run this sample following what you said, get the same result as before. There is one question need to confirm with you, should use `SCL` instead of `SDL`, is it right?

[2016-11-14 09:38] wanghongjuan commented on #54
It is confused that get below log information when re-run this sample without connecting sensor BME280
[code]
So I try to run sample [bmg160](https://github.com/01org/zephyr/tree/master/samples/sensor/bmg160) in zephyr project without connecting sensor BMG160, get a different result log:
[code]

[2016-11-14 10:27] kiendinh commented on #54
Please excuse me for the typos. It's SCL.
Different sensors are being initialized differently so the error messages may be not the same.

I hope that the Arduino 101 firmware is functioning correctly. Can you try to replace the Arduino or re-flash the firmware again?

[2016-11-15 03:11] wanghongjuan commented on #54
This time using Genuino 101 replace the Arduino 101, and restore the Genuino to factory settings, flash the Newt BLE firmware and build the applications, but get the log message like `ipm_console0: 'Failed to get BME280 sensor'`. The sensor is connected following the method that you mentioned.

[2016-11-15 07:36] kiendinh commented on #54
The error happens when it cannot find and initialize the BME280 module. Please check your setup and maybe the BME280. Here is my simple setup for your information.

![20161115_162942](https://cloud.githubusercontent.com/assets/11462046/20297015/89b431ec-ab51-11e6-9b31-dae8cbe4c05a.jpg)

[2016-11-15 09:08] wanghongjuan commented on #54
Thanks for setup it again. I am using this sensor, please refer the attachment. I have been confirmed it with you, the sensor should can be used in this sample. Maybe this sensor can not work in this case.
<img width="213" alt="bme280" src="https://cloud.githubusercontent.com/assets/5309217/20299112/60bc5c30-ab54-11e6-97b0-e676b7e15879.PNG">

[2016-11-15 11:08] kiendinh commented on #54
Please see the link below. It's different breakout but basically can be used with I2C and SPI like your board. The wiring for I2C is similar to what you're using.

https://learn.adafruit.com/adafruit-bme280-humidity-barometric-pressure-temperature-sensor-breakout/wiring-and-test

[2016-11-16 07:20] wanghongjuan opened #56 "Lack of connection description for Grove LCD RGB"
This [guide](https://github.com/01org/SmartHome-Demo/tree/master/ocf-servers/js-servers#setting-up-the-smart-solar-panel) describes how to setup smart solar panel. List all hardware components required and how to setup them, except the connection description for Grove LCD RGB.

[2016-11-16 10:37] wanghongjuan commented on #54
Hi, @kiendinh Thanks for your confirmation again. Good news is coming, the sample is works now. The LCD can show the values of temperature, humidity and pressure, no including UV. I think the problem is the sensor connection is too loose, so fix the pins to the sensor and it works.
BTW, it seems that iPhone 5S can not get the value. But Nexus 5 can show all values. Can you reproduce this scenario?

[2016-11-17 08:17] #56 closed

[2016-11-17 08:42] wanghongjuan commented on #54
Do you have any solution that can resolve how to get the sensor data on home gateway? The module `noble` has been install via `npm install noble`, and launch server script via command `export NODE_DEBUG=environmental_sensor;node environment_sensor.js`, then it is hang and show below log :
[code]
I am using [Edison](https://software.intel.com/en-us/iot/hardware/edison) as gateway which supports BLE

[2016-11-17 08:58] gvancuts commented on #54
Hi @wanghongjuan , as far as I remember, there are problems with BLE on Edison. Can you try another platform (with a different Bluetooth dongle) to test this? @kiendinh can provide more details but he's away from his desk for a couple of days so he may not see this immediately.

[2016-11-17 09:12] wanghongjuan commented on #54
Yes, I also run it on Joule 570x with [image#192](https://download.ostroproject.org/builds/ostro-os-xt/2016-11-13_21-27-36-build-192/images/intel-corei7-64/ostro-xt-image-noswupd-benchmark-qa-intel-corei7-64-2016-11-13_21-27-36-build-192.dsk.xz), it has same problem as Edison.

[2016-11-17 09:39] kiendinh commented on #54
It seems that the bluetooth on your platform is not yet enabled. Pls set it on with "rfkill unblock bluetooth" and check with hciconfig if's unlocked and running.

[2016-11-17 10:20] wanghongjuan commented on #54
@kiendinh I think that it works now, display log information as below:
[code]
About the data on iPhone 5S and UV sensor that I have mentioned, can you please help to confirm them? Thanks.

[2016-11-18 01:58] wanghongjuan opened #59 "The data of BME280 in LCD is different from the data in the app nRF Connect and ocf server"
Following this [guide](https://github.com/01org/SmartHome-Demo/blob/master/sensors/environmental-sensors/README.md) for sample sensors/environment-sensors to setup this sample, and it works now. I noticed that get the data of pressure from BME280 in RGB LCD is `104.450 kPa`, the data is `104450.3 kPa` in nRF Connect, the data is `1044.503 hPa`  in `environmental_sensors.js` . The value and unit ar

[2016-11-18 02:09] kiendinh commented on #59
Can you confirm again the unit value in nRF Connect? Is it in Pa or kPa?

[2016-11-18 02:11] kiendinh commented on #54
I used to check on my iPhone 5s, and it worked fine. The UV index value was 0 or 1.

[2016-11-18 02:21] wanghongjuan commented on #59
Oh, it is Pa. Does this representation have any special meaning? Since they are using different unit.

[2016-11-18 02:22] kiendinh commented on #59
Well, hPa = 100 Pa, kPa = 1000 Pa. They are all the same. :)

[2016-11-18 02:29] wanghongjuan commented on #59
Yes, I understand that. Thanks.

[2016-11-18 02:29] #59 closed

[2016-11-18 03:06] wanghongjuan commented on #54
Does the iPhone need to specific setting? I used two iPhones to test it, got the same result as below picture:
<img width="264" alt="untitled" src="https://cloud.githubusercontent.com/assets/5309217/20417241/043b7540-ad7f-11e6-8f75-f1a977dbda90.png">

[2016-11-18 03:17] kiendinh commented on #54
Have you clicked on the buttons on the right side? One for read, and one for notification?

[2016-11-18 05:11] wanghongjuan commented on #54
Yes, but no response.

[2016-11-18 08:06] kiendinh commented on #54
I have no clue. It's rather an issue in the iPhone 5S and nRF Connect app side. At least you have the nRF Connect app working on the Android. This is out of the scope of the project.

[2016-11-18 08:11] wanghongjuan commented on #54
OK, thanks.

[2016-11-18 08:11] #54 closed

[2016-11-29 02:52] qiuzhong opened #63 "The energy consumption resource properties in power-uart.js don't comply with the OCF spec"
According to the OCF spec, the energy consumption resource type should contain two properties: [power](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/doc/oic.r.energy.consumption.json#L9) and [energy](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/doc/oic.r.energy.consumption.json#L13)

However, in the current **power-uart.js** implmentation, the two properties ar

[2016-11-29 07:46] ttzeng commented on #63
I've raised same concern in the issue #29 :)

[2016-11-29 08:18] kiendinh commented on #63
It's the custom one and thus use the custom definitions.

[2016-11-29 15:14] gvancuts commented on #63
I could see how we could convert one of the channel into a energyConsumption property (where the "device" is the entire house). But the definition given to the energyConsumption property (see below) does not apply to the Solar Panel electricity production. Maybe the right course of action here would be to transform channel 1 into an energyConsumption model and keep the Solar Panel properties custo

[2016-11-30 03:22] ttzeng commented on #63
Why not follow the "Vendor specified extensions" specifiation called out in the section 5.5 of the [OCF Resource Type Specification](https://openconnectivity.org/wp-content/uploads/2016/06/OIC_1.1_Candidate_Specification.zip), and use 'x.com.intel.energy.consumption' as the 'rt' property?

[2016-11-30 06:45] qiuzhong commented on #63
Hi, @gvancuts, I really appreciate your clarification.

I agree that

However, from an OCF client's prospective, all the energy comsumption resources are found via the type name <code>oic.r.energy.consumption</code> and interface name <code>/a/power</code>. Currently, the DC Meter is using the Energy Consumption resource type name (and resource interface name) defined in OCF spec though they have

[2016-12-07 03:49] ttzeng commented on #41
Confirmed this issue has been fixed using iotivity-node with [commit 53249fc](https://github.com/otcshare/iotivity-node/tree/53249fcd62e69206d10f94efb04816f3de9b86e2)

[2016-12-07 03:49] #41 closed

[2016-12-07 07:17] qiuzhong opened #65 "DC Power Meter BLE service is not reader-friendly for Bluetooth clients."
DC Power Meter now supports BLE connection. When a Bluetooth app (nRF Connect, for example) connects to the DC Power Meter "Zephyr Power Meter" BLE service, the screenshot is like this:
![screenshot_20161207-031352](https://cloud.githubusercontent.com/assets/11829497/20958324/0935451a-bc90-11e6-825d-5697f25fb70b.png)

There are two problems:
1. The title of the service is "Unknow service", not "Ze

[2016-12-07 07:54] kiendinh commented on #65
This is not an issue. The DC power meter is not designed to be used with phones. An application for Android or iOS needs to be developed for that purpose.

[2016-12-07 09:36] qiuzhong commented on #65
I understand this feature is not necessary.

Since the environmental sensor app supports to display the sensor values friendly in mobile clients, I wonder if the DC Power Meter can also support this feature just like environmental sensor. In case the gateway is not available or the Bluetooth feature of the gateway is not available, it will be helpful to assure the DC Power Meter BLE service can wo

[2016-12-07 09:41] kiendinh commented on #65
The environmental sensor uses the standard BLE profiles that the phones support and thus can work with them. However, the power meter uses custom profiles. So in order to make it work friendly with the phone, applications which support those need to be developed.

[2016-12-07 09:52] qiuzhong commented on #65
The explanation is convictive. Thank you!

[2016-12-07 09:52] #65 closed

[2016-12-08 06:33] qiuzhong opened #66 "power-uart.js could easily fail to read DC power meter data via USB UFDI cable"
power-uart.js supports both wire (USB UFDI cable) and Bluetooth connection to get DC power meter data.
However, when using USB FTDI cable connection, the gateway could easily fail to read data and log is like this:
[code]

It can be successful to read data occasionally via the USB FTDI cable and the log is like this:
[code]

I did the test for 10 times, but it could read data successfully for only

[2016-12-09 20:34] gvancuts commented on #66
I remember we saw this in Berlin... if I recall correctly, there was potentially something in the system that was fiddling with the serial port (one of the systemd service). @uhofemei do you remember the details?

[2016-12-12 18:41] uhofemei commented on #66
There is a systemd daemon(serial-getty@ttyS0.service) that detects the serial port ttyS0 and tries to run the getty but it was failing with the same authentication failure. After stopping that daemon manually, the power_uart.js is able to access the serial port /dev/ttyS0 without any failure and show the messages received from the Arduino.

[2016-12-13 06:17] qiuzhong opened #68 "zero value for solar/temperature/illuminance sensor data not updated"
When parsing data after REST client getting the sensor data via REST API, there's something wrong with the condition to update data when the sensor data happen to be 0. For example, the [solar panel data parsing](https://github.com/01org/SmartHome-Demo/blob/master/smarthome-web-portal/CeleryTask/managers/data_manager.py#L101) is represented as:
[code]

Here, <code>new_tilt</code> may get a value o

[2016-12-13 06:17] qiuzhong commented on #68
@ichbinblau , PTAL

[2016-12-13 07:53] ichbinblau commented on #68
@qiuzhong good catch. I will fix it in the next PR.

[2016-12-13 10:52] qiuzhong commented on #66
Thanks for the information.

But it didn't help in my case. I checked the systemd daemon serial-getty@ttyS0.service and serial-getty@ttyUSB0.service, both are inactive (dead). In fact, in my case, /dev/ttyS0 is not found , while /dev/ttyUSB0 can be found.

[2016-12-13 11:17] gvancuts commented on #66
@arfoll any idea?

We access the serial port from node.js via MRAA - see the code [here](../blob/master/ocf-servers/js-servers/power-uart.js)

[2016-12-14 05:54] poussa commented on #29
The ch-1 and ch-2 are not OCF compliant and should be changed to so that they comply.

[2016-12-15 05:39] ttzeng opened #70 "'di' properties of resources on the same device is not consistent"
Looks like [an upstream bug](https://github.com/01org/iot-rest-api-server/issues/42) which the 'di' properties on the same devices may not be the same.

[2016-12-15 06:53] ttzeng opened #71 "Feature request: configuration resource for naming resources of the same type"
Once there is a [support for the OCF configuration information resource](https://github.com/01org/iot-js-api/issues/26) in our dependency, we could name resource to meaningful labels.

[2016-12-15 07:08] ttzeng opened #72 "Be able to launch multiple resources of the same type"
Current [OCF servers in this repo](https://github.com/01org/SmartHome-Demo/tree/master/ocf-servers/js-servers) use fixed 'id' properties and interface names during the resource registration, which prevent them for being reused as resources of the same type with different hardware configuration. For example, to host multiple LED servers using existing [server script](https://github.com/01org/SmartH

[2016-12-15 07:37] ttzeng opened #73 "Avoid using 'oic' namespace in the 'rt' property of non-standard OIC resources"
In OCF Core Specification v1.1.0, section 7.4.1, the 'oic' string, used as the first segment of in the resource type definition, is reserved for OCF-defined resource types. Some of the [OCF servers in this repo](https://github.com/01org/SmartHome-Demo/tree/master/ocf-servers/js-servers), they are either not defined in the OCF Resource Type Specification v1.1.0, or containing not compliant property

[2016-12-16 16:02] gvancuts commented on #73
I would like to have assignees to each of the ones that need a little work, how about the following:

OCF Server | Should become... | Assignee
------------ | ------------------- | ----------
fan.js | binarySwitch | @ttzeng
solar.js | vendor defined | @nagineni
buzzer.js | vendor defined | @ttzeng
led.js | binarySwitch | @ttzeng
power-uart.js | oic.r.energy.consumption | @kiendinh
environmental_sen

[2016-12-19 08:48] qiuzhong opened #74 "History page data is not filtered by the gateway of current user"
For the smarthome-web-portal web app, each user is associated with a gateway. Currently, there are two users and two gateways pre-built:  dev account for lab gateway and ostro for demo.
The BEFORE panel should display the sensor history data of the gateway of the current user.

However, when login via ostro user account, the BEFORE panel can still display the history data of sensors even gateway d

[2016-12-19 08:48] qiuzhong commented on #74
@ichbinblau

[2016-12-21 02:45] qiuzhong opened #75 "Temperature resource type and temperature property in environmental sensor"
According to the OCF resource type spec v1.1.0, temperature is a standard resource type. Here is the description:

Meanwhile, our environmental sensor resource is custom but it contains a temperature property too. Here is the description:

Are them the same thing? If not, can anyone tell me what's the difference besides the unit and range?
For an OCF client, how to title them properly if it finds

[2016-12-29 16:31] gvancuts commented on #75
We should convert our environmental sensor to expose the proper OCF resource type where applicable. From what I can see, all these properties are defined:
- Humidity: http://oneiota.org/revisions/1437
- Pressure: http://oneiota.org/revisions/1387
- Temperature: http://oneiota.org/revisions/1469
- UV index: http://oneiota.org/revisions/1473

I haven't checked whether the implementation we have is c

[2016-12-30 01:14] ttzeng commented on #75
This will require [the upstream patch](https://github.com/otcshare/iotivity-node/commit/025cdc654c69c66aca69329e703ffa987523fafa) in iotivity-node, which together with the new API used, are not available in the current stock images. FYI

[2016-12-30 10:46] gvancuts commented on #75
Ah yes, I had forgotten about this. This should be done once we migrate to IoTivity 1.2.x but I believe @nagineni is still working through some issues with this new version.

[2017-01-12 13:29] gvancuts opened #77 "“Resource retrieve failed: retrieve: OCDoResource response failed” is returned by OCF servers (occasionally)"
Steps to reproduce the issue:
- Host: Ubuntu 16.04
- Installed the `iotivity-smarthome-demo` snap (see https://github.com/01org/SmartHome-Demo/tree/master/snap)

Here is how I proceed:
- Check that the snap is functional (from a browser: http://localhost:8000/api/oic/res or http://localhost:8000/api/system)
- Ran some OCF servers (after cloning the https://github.com/01org/SmartHome-Demo repo loca

[2017-01-12 15:28] gvancuts commented on #68
Can you include a keyword to automatically close this when you do a Pull Request that should solve the issue - see https://help.github.com/articles/closing-issues-via-commit-messages/

I'd suggest to use "Fix #68"

[2017-01-12 15:34] gvancuts commented on #49
I'm seeing this too.

One other thing that I've noticed, is that it's not possible to create a new user via the Admin portal. I'll file a feature request for this.

There are a number of things we should consider adding to the Admin portal:
- Ability to add new users
- Edit existing users (it does not seem possible to edit any information at the moment)
- There is no way to map the user to a gatew

[2017-01-12 16:36] nagineni commented on #77
@gvancuts

How you are killing the server? If you are using `kill -9`, it  will not give process a chance to unrgister the resource so the reference might be still around in the stack and causing the issue after restarting the server that register the same resource.

Instead of killing the process, try shutting down the server gracefully from SIGINT (Ctrl-c).

[2017-01-12 17:10] gvancuts commented on #77
Yes, I am using `kill`. I'm not using the `-9` parameter however so I believe it defaults to using `SIGTERM`. I can try with `SIGINT` to see if it makes a difference.

Having said that... I'd think it's a valid scenario to have an OCF simply disappearing from the network without any kind of clean-up happening... and perhaps this is where the problem lies here.

[2017-01-12 17:21] gvancuts commented on #77
I have just tried to stop the OCF using `kill -SIGINT` and I observed the following:
- http://localhost:8000/api/oic/res did not list the resource anymore (as expected)
- http://localhost:8000/api/oic/d/?di=<di> returned the “Resource retrieve failed: retrieve: OCDoResource response failed” error

I then started the OCF server again and observed the following:
- http://localhost:8000/api/oic/res l

[2017-01-12 18:14] nagineni commented on #77
I agree with you and it has to be handle properly in our bindings/iotivity.

[2017-01-13 08:26] gvancuts commented on #29
I have renamed the title of this issue to reflect the fact that this is really about making power-uart.js OCF compliant by using `energyConsumption`.

We should also rename the script itself to reflect the fact that it does handle BLE as well as UART.

I would suggest to introduce a command-line argument for forcing the switch to 'simulation' mode, this would help us in the long-term create a Dock

[2017-01-13 08:30] gvancuts opened #78 "Admin Portal: introduce an 'Add User' function"
We should introduce an 'Add User' function in the Admin Portal. The user will typically have the following attributes (at a minimum):
- Full Name
- Location (address)
- Mobile Phone (for a hypothetical, future feature enabling text messages)
- Gateway assigned (a drop-down menu should display the list of Gateways that already exist.

Note: deleting users shall be fixed as part of this (see #49 for

[2017-01-13 09:34] gvancuts commented on #63
Let's close this one and continue and track this work through #29

[2017-01-13 09:34] #63 closed

[2017-01-13 09:36] gvancuts opened #79 "led.js shall be updated to use binarySwitch model"
The OCF server implemented by `led.js` shall be updated to use the [`binarySwitch`](http://oneiota.org/revisions/1393) data model.

[2017-01-13 09:39] gvancuts opened #80 "buzzer.js: shall move to a vendor-defined namespace"
The OCF server implemented in `buzzer.js` shall be updated to use a vendor-defined namespace.

[2017-01-13 09:40] nagineni commented on #77
This case has already been fixed in 1.2.0. I checked with 1.2.0 branch and it is not reproducible.

[2017-01-13 09:40] gvancuts opened #81 "solar.js: shall be updated to use a vendor-defined namespace"
The OCF server implemented by `solar.js` shall be updated to use a vendor-defined namespace

[2017-01-13 09:45] gvancuts opened #82 "fan.js shall be updated to use the binarySwitch model"
The OCF server implemented in `fan.js` shall use the [`binarySwitch`](http://oneiota.org/revisions/1393) data model.

[2017-01-13 09:47] gvancuts commented on #73
@ttzeng what about `switch.js`?

[2017-01-13 09:47] gvancuts commented on #82
I'm wondering whether using [`AirFlow`](http://oneiota.org/revisions/1795) might be a better choice than `binarySwitch` here... thoughts?

[2017-01-13 09:52] gvancuts commented on #77
Thanks @nagineni .

IIRC you mentionned there were some issues with IoTivity 1.2.0 (I don't recall the details). What is the status on its readiness, could we update our SmartHome-Demo to this soon?

[2017-01-13 10:09] nagineni commented on #77
@gvancuts 1.2.0 branch is not fully ready yet. I was waiting for some missing functionality from the bindings (mostly related to the device presence) and a fix has been pushed to iotivity-node Yesterday. I will start making changes in our demo and create a PR soon if I don't notice any other issues.

[2017-01-13 10:13] nagineni commented on #77
I am also working on updating REST API server to 1.2.0. I will create PRs for both soon.

[2017-01-13 10:33] nagineni commented on #77
Retrieve request may fail without device discovery first. So, try doing device discovery before sending retrieve requests.

`http://localhost:8000/api/oic/d/` (atleast once after the server is up and running)
`http://localhost:8000/api/oic/d/?di=<device id>`

[2017-01-13 11:08] ttzeng commented on #82
In the OIC Smart Home device spec, the fan device oic.d.fan should contain a binary switch resource. I prefer binary switch than AirFlow.

[2017-01-13 11:10] ttzeng commented on #73
@gvancuts sorry, switch.js already compliant.

[2017-01-13 14:42] gvancuts commented on #77
Doing this typically returns: "Query parameter "di" is missing". I thought doing ` http://localhost:8000/api/oic/res` would trigger the discovery, is that not the case? (The README.md in the iot-rest-api-server led me to believe that...)

I'm still getting the same error when doing this *after* a http://localhost:8000/api/oic/d/

[2017-01-13 14:58] gvancuts commented on #82
I agree, let's follow the Smart Home specs, I did not know this was in there. Thanks!

[2017-01-13 15:01] gvancuts commented on #73
Thanks for confirming this @ttzeng

[2017-01-18 16:58] uhofemei opened #85 "Power-uart OCserver fails to start"
Using power-uart.js with BLE I observe the following error when I attempt to start the service.

root@gateway:~# NODE_DEBUG=power-uart node SmartHome-Demo/ocf-servers/js-servers/power-uart.js
POWER-UART 1308: Create Power resource.
POWER-UART 1308: {"ch-1": 100, "ch-2": 1000}
POWER-UART 1308: register() resource successful
POWER-UART 1308: on -> stateChange
POWER-UART 1308: on -> scanStart
POWER-U

[2017-01-19 07:28] ichbinblau commented on #49
Hi, @gvancuts. I will fix this issue together with the issue #78 .

[2017-01-19 08:15] gvancuts commented on #49
Sounds good @ichbinblau , let's close this one and track it as part of #78 then.

[2017-01-19 08:15] #49 closed

[2017-01-19 08:16] ichbinblau commented on #68
@gvancuts I have updated the commit message for the PR #52 including "Fixed #68."

[2017-01-22 08:01] ichbinblau commented on #77
Hi, @gvancuts @nagineni . Thanks for the fix. I verified it locally and could retrieve the fan sensor again after doing discovery first.
One more finding from my observation is that the REST service will not close the connection in obs mode even if the resource is already stopped or disconnected.
The steps I took to make it happen:
1. Start REST api, gateway server and motion server
2. Observe dat

[2017-01-31 13:22] gvancuts opened #91 "Cloud Portal: generic widget that can display any OCF server available"
We should have a generic widget that would allow to visualize *any* kind of OCF server that has been discovered. It's understood that interacting with such OCF server will not be as user-friendly as with other, known OCF server types. The ability to exchange information (raw JSON payload) would be desirable).

[2017-02-02 21:23] #85 closed

[2017-02-08 09:32] gvancuts commented on #91
Hi @ichbinblau , is it possible to have this implemented in the next 10 days?

@mjkadera , FYI

[2017-02-08 10:00] ichbinblau commented on #91
Hi, @gvancuts . Within 10 days, I can create a generic widget to simply reflect the json data.  It shows the fields returned from the ocf server and list them in the widget. But it would take more time to categorize the sensor, eg. alerts type or just status updates. And the sensor would not be controllable cos the http protocol has to be pre-defined somewhere and some fields are not allowed to be

[2017-02-09 19:47] gvancuts commented on #91
I think it's OK if the device cannot be classified in the first version. Isn't there a way we can send a hand-crafted message to interact with any device?

[2017-02-10 05:52] poussa commented on #70
Can we close this since the upstream bug is closed?

[2017-02-10 08:18] gvancuts commented on #70
@nagineni closed the [upstream bug](https://github.com/01org/iot-rest-api-server/issues/42) but there was no changes made to the implementation so the behaviour described is still there.

It took me a while to digest that one and I'm still not sure that I full understand it but I think the key take-away is that you could very quickly end up with a non-compliant device if you write your OCF server

[2017-02-10 08:20] gvancuts commented on #77
Hi @ichbinblau , do you know if that issue still exists now that we've moved to IoTivity 1.2.x?

[2017-02-10 08:37] ichbinblau commented on #77
Hi, @gvancuts . I just had a test. I can continue to retrieve request when the ocf server starts again without doing a discovery. I am using ocf server in emulator mode built with iotivity 1.2.x. So I think it is not an issue in iotivity 1.2.x.

[2017-02-10 09:06] nagineni commented on #70
Reasons for closing that upstream bug a) It's unrelated to the REST API server and nothing needs to be changed in that component b) Duplicate of https://github.com/01org/iot-rest-api-server/issues/43

Look at https://github.com/01org/iot-rest-api-server/issues/43 for the detailed information and the solutions we have to solve the issue. We just need to adjust servers a bit, if we want to support c

[2017-02-11 15:39] gvancuts commented on #77
I ran a test on my side too and observed the following:
1. Start an OCF server (in my case I used the environmental sensor)
2. Do a resource discovery (`/oic/res`)
3. Check the OCF server `/a/env?di=<di>`
-> It returns the right values
4. Kill the OCF server (`kill -9`)
5. Re-check the OCF server `/a/env?di=<di>` and I now get the following message `Resource retrieve failed: findResources: unexpec

[2017-02-11 17:30] uhofemei commented on #77
I'm not sure if bringing the OCF server down using SIGKILL is something the REST API server can recover from. After feedback from me regarding this issue with the demo kit, Babu submitted a PR and changed the code to for all OCF servers to exit gracefully on SIGINT and SIGTERM. What happens if you try to bring the server down using CTRL-C instead?

[2017-02-13 08:37] gvancuts commented on #77
I haven't tried with Ctrl-C yet. I wanted to try out the 'harsher' version of that scenario. It can only help the stability if all OCF servers exit cleanly but it's not a valid assumption as OCF servers can disappear at any time without notice. This could happen if the process gets killed (like what I'm doing) but also if the network goes down, etc.

[2017-02-13 09:55] gvancuts commented on #77
I'm seeing the same behaviour when using `SIGINT` instead of `SIGKILL`.

One note: the `Resource retrieve failed: findResources: unexpected response` typically comes about 45s after issuing the `/a/env?di=<di>` call. Is this expected?

I'm thinking this issue can now be closed. The only little doubt I have is whether it is expected that querying a specific resource that was restarted gives an erro

[2017-02-13 10:05] ichbinblau commented on #91
Hi, @gvancuts. In first version, I plan to design the widget like the screenshot below:
<img width="208" alt="capture" src="https://cloud.githubusercontent.com/assets/8187638/22878642/8414c14c-f215-11e6-9f7d-11f789d1dc7d.PNG">
The widget illustrates all the json data as a data table. Users are allowed to update the resource properties (send http post to ocf server) by clicking on the edit button.

[2017-02-13 10:23] gvancuts commented on #91
Thanks @ichbinblau , this looks good to me!

Could you also print out the `"n"` string (read-only) on the widget? Perhaps enclosing it in brackets just after the "Generic resource" widget title? E.g. Generic resource ("Smart Solar Panel"). That would make it generic but yet a little more easily identifiable when there are multiple of those. Similarly, could the device ID be printed out somewhere (

[2017-02-13 13:02] ttzeng commented on #91
@ichbinblau How will you validate the data entered by the user are in the correct data types? If the portal updates the data of the wrong data type, it might cause problems in the receiving end.

[2017-02-13 16:58] uhofemei commented on #77
I believe that is the case. It was explained to me by Babu that the re-discovery of a sensor needs to be triggered if the OCF server has been restarted. He also explained it a little ways up in this thread. You can read about it here: https://github.com/01org/SmartHome-Demo/issues/77#issuecomment-272412004

[2017-02-14 02:02] ichbinblau commented on #91
@ttzeng, this is a good question. There is no effective way to validate the data type as the data type is not described somewhere if the resource is not pre-defined.  What I can filter from the fronted is to prevent from some malicious attacks, such as cross-site scripting, sql injection etc.  Only Json format is permitted.  It mostly depends on the server to validate the data.  Does the server ha

[2017-02-14 02:07] ichbinblau commented on #91
Hi, @gvancuts.  It seems that the "n" string is not exposed by the Rest API. What we can get is the id of the resource.
<img width="109" alt="capture1" src="https://cloud.githubusercontent.com/assets/8187638/22911879/213b6c46-f29d-11e6-88f3-c50e578b784f.PNG">
<img width="215" alt="capture" src="https://cloud.githubusercontent.com/assets/8187638/22911883/27c23996-f29d-11e6-8508-a4f360ce9862.PNG">

[2017-02-14 06:34] gvancuts commented on #91
The parameter is returned when doing a device discovery (`oic\d`), I don't know however if there is another (better?) way.

[2017-02-14 06:45] ttzeng commented on #91
AFAIK, that's the name of the device hosting the resource, not the name of the resource.

[2017-02-14 06:50] gvancuts commented on #91
Ah! Thanks for the clarification @ttzeng. Assuming each resource would have its own widget, I still think it'd be valuable to add the name of the device hosting it to the widget.

[2017-02-14 07:01] ttzeng commented on #91
The 'n' property of a resource is read only, unless we have implemented the Configuration /oic/con https://github.com/01org/SmartHome-Demo/issues/71

[2017-02-14 08:26] gvancuts commented on #91
That's fine in my opinion, I'm just looking for a way to somewhat more easily identify what this "Generic resource" is, especially in case there are multiple instances of such resources/devices in the network.

[2017-02-15 10:00] #68 closed

[2017-02-15 10:00] #74 closed

[2017-02-16 23:22] #77 closed

[2017-02-17 04:00] ttzeng opened #101 "Can't get initial value of non-observable resources from the REST API server"
The docker image used to get the states of OCF resources from the iot-rest-api-server with "&obs=1" in query URI like this:
http://192.168.1.107:8000/api/oic/a/pir?di=2282f9a5-9d9a-40f2-a9c4-efb3616124c6&obs=1
the server will return the initial value of the target resource and continue send out updates on state changes:
{"id":"motionSensor","value":false}{"id":"motionSensor","value":false}....

Ho

[2017-02-17 08:42] gvancuts commented on #101
@poussa @ichbinblau , do I understand this one correctly that the proper course of action is to wait for an updated `iot-rest-api-server` that will include a property stating whether a resource can be observed and update the cloud portal to adjust its behaviour based on that?

[2017-02-17 08:46] ichbinblau commented on #101
@gvancuts that's also my understanding. The portal as the http client would adjust its request method by the observable property returned by iot-rest-api-server .

[2017-02-17 08:52] poussa commented on #101
@gvancuts Yes, one need to have the iot-rest-api-server from the master, which include patch to enable this behavior: https://github.com/01org/iot-rest-api-server/commit/ce21be84dc2d3a03fb99b0756141e29fcbbcb625

It is currently only in the master, not released via npm. We don't have to include this for the hackathon config since it is not tested at all yet.

[2017-02-17 09:10] gvancuts commented on #101
Completely agree. I'll assign this to you for now so we can update the `iot-rest-api-server` when the time is right (i.e. once it's been tested and is released via npm).

[2017-02-21 07:21] qiuzhong commented on #68
Tested & Verified on current latest commit id [fd4e84f](https://github.com/01org/SmartHome-Demo/commit/fd4e84f4bca60bbc15a59553b8eba06b1c9e549e)
This bug is not reproduced now.

For web portal back-end, the sensor data can be updated when values are zero.
For the web browser, these sensors can be displayed when values are zero as well.

[2017-02-21 07:48] qiuzhong commented on #74
Tested & Verified on current latest commit id [fd4e84f](https://github.com/01org/SmartHome-Demo/commit/fd4e84f4bca60bbc15a59553b8eba06b1c9e549e)
This bug is not reproduced now.

When login with different users ( map to different gateways ), the "BEFORE" panel only displays the sensor history of gateway associated with the current user.

[2017-02-22 15:26] gvancuts commented on #68
Thanks @qiuzhong !

[2017-02-22 15:26] gvancuts commented on #74
Thanks @qiuzhong

[2017-02-22 16:50] nagineni commented on #101
@ichbinblau could you please adjust the portal code and check with the iot-rest-api-server from maser https://github.com/01org/iot-rest-api-server?

[2017-02-23 03:11] ichbinblau commented on #101
Hi, @nagineni . I wrote down the respective ways to handle the resources in different situations. Would you check whether it is correct and answer the question below? Thank you.

a) Resource that is discoverable but not observable:
"p": {"bm": 1, "sec": false}
**Solution: start a regular job to pull data at a time interval.**

b) Resource that is observable but not discoverable:
"p": {"bm": 2, "se

[2017-02-23 14:33] gvancuts opened #105 "Cloud Portal not displaying the correct values"
I ran some of the known devices (such as `temperature`, `light`, `solar`) in simulation mode but the actual value of the devices was not displayed in their respective widgets on the cloud portal (in a Docker container). I couldn't read what it said for `solar` but `temperature` was showing **NaN** instead of a value. I could see from the Docker container traces that it was getting values and we co

[2017-02-23 14:38] gvancuts opened #106 "Introduce a command-line argument to start OCF JS server in simulation mode"
We should have a command-line parameter (e.g. `--simulation`) to start any of the OCF JS servers in simulation mode. They currently do that when some of the low-level libraries (such as `noble` or `mraa`) are not available but a switch forcing that irrespective of that would be desirable.

[2017-02-23 14:43] nagineni commented on #106
:+1:

[2017-02-23 14:52] ttzeng commented on #105
@gvancuts you might clear the browser cache and render the page again by CTRL-F5 for a try.

[2017-02-24 13:41] ichbinblau commented on #105
Thanks @ttzeng for the test.  Hi, @gvancuts. I think Tonny is right. You may want to clear the browser cache and try it one more time. We met the same NaN issue before and a cache cleanup solved the prob.

[2017-02-24 16:14] gvancuts commented on #105
I'll try this once I get back at my desk (that'll be the week after next at the earliest). I'm pretty sure that in all the testing I did, I also tried with Firefox (as an alternative to Google Chrome), we tried that on different machines too.

@uhofemei , could you test this on your side too (staging environment). Using the cloud portal in a container should be exercised and tested on a regular ba

[2017-02-24 17:32] uhofemei commented on #105
@gvancuts  yes will do.

[2017-02-27 06:34] qiuzhong commented on #105
I did some tests for this issue.
Here is my configuration:
* Clear All History in Firefox, choose <strong>Time range to clear: "Everything"</strong>
* OCF servers: [fd4e84f](https://github.com/01org/SmartHome-Demo/commit/fd4e84f4bca60bbc15a59553b8eba06b1c9e549e) (simulated)
* Web portal: I didn't get it from Docker hub, I built it with the latest master branch [92322e3](https://github.com/01org/Sm

[2017-02-27 09:46] qiuzhong commented on #105
I just pulled the latest smarthome2cloud/smarthome-demo from docker hub on a new Ubuntu host.
There is no history of accessing the web portal for the web browser on that host.

And I did a test.
I have to say, I didn't encounter such <code>NaN</code> issue. <code>temperature</code>, <code>light</code>, <code>solar</code> all can be displayed well on the web browser.

[2017-02-27 11:52] nagineni commented on #101
The device doesn't expose the resources that are not discoverable, so you don't see it at all.

[2017-02-28 00:28] uhofemei commented on #105
Using the latest smarthome2cloud/smarthome-demo container I see values from the non-simulated temperature and light sensor in my IoTivity 1.2.0 staging environment. I can't get to the cloud portal on port 3030 yet due to missing port forwarding rules. I will fix that tomorrow and report back.

[2017-02-28 04:38] qiuzhong opened #107 "LED resource type not aligned with the web portal"
[Issue#79](https://github.com/01org/SmartHome-Demo/issues/79) suggests to update the "rt" of LED resource to <code>oic.r.switch.binary</code> in [led.js](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/js-servers/led.js#L22). But there's no PR for this issue.

The [latest web portal](https://github.com/01org/SmartHome-Demo/commit/92322e3aa412e3dbad35b74a7f25dc0d7f48775e) has compli

[2017-02-28 07:58] mjkadera opened #108 "Buzzer not functioning when button pressed"
The buzzer does not make a sound when the button is pressed. The buzzer does function since it does make a noise when the motion board is restarted

[2017-02-28 08:02] gvancuts commented on #108
The following custom rule was added to the live system but did not work:
[code]

[2017-02-28 08:06] gvancuts opened #109 "gas.js: make the threshold a parameter that can more easily be changed"
We should make the threshold value used to determine if the air is safe a parameter so we could easily change it by updating one single value in the source file. Having it as a command-line argument would be even better.

[2017-02-28 08:26] nagineni commented on #108
I have not tested this on the HW yet, but I quickly checked on my desktop env and the rule seems to be working fine.

$ SmartHome-Demo/ocf-servers/js-servers$ NODE_DEBUG=button  node button.js
[code]

$ SmartHome-Demo/ocf-servers/js-servers$ NODE_DEBUG=buzzer node buzzer.js
[code]

$ SmartHome-Demo/gateway$ NODE_DEBUG=gateway-server node gateway-server.js
[code]

[2017-02-28 16:20] nagineni commented on #108
I checked it on the target HW and it's working fine for me. I tried with both button-toggle.js and button.js. In button.js case, you need to long press the button to change the state to true.

[2017-03-01 00:13] gvancuts commented on #108
Thanks for having verified this @nagineni! Maybe this is something related to our demo set-up. We have never got it to work despite all attempts. I have never actually been able to get the buzzer to beep, apart from when the board starts (or stops, I don't remember exactly). I even tried to change the default value on line [18](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/js-ser

[2017-03-01 00:14] uhofemei commented on #108
The buzzer can be triggered from Salvatore's smart home control app.

[2017-03-01 00:25] gvancuts commented on #105
Thank you both for you testing. I don't have the environment anymore and I'm currently travelling so it will take a little while before I can get back to this issue. I'll definitely try cleaning the history of the browser next time to see if it helps.

[2017-03-01 00:27] gvancuts commented on #108
I'm pretty sure we tried from @ttzeng 's [app](https://github.com/ttzeng/android-apps) but I'll need to double-check with @mjkadera tomorrow.

[2017-03-01 02:31] qiuzhong commented on #108
In fact, there is a bug that the smart-home-control app can't make the buzzer sensor work, see [smart-home-control issue#12](https://github.com/siovene/smart-home-control/issues/12)

[2017-03-01 07:34] mjkadera commented on #108
I did try it with @ttzeng 's app and we have the same results where the buzzer will just not trigger

[2017-03-01 18:24] gvancuts opened #110 "Sporadic error when loading some JS applications requiring iotivity-node"
I have seen the following error on the gateway today when attempting to start the `smarthome` service. I had seen a similar error on a different board running the `solar.js` service. I don't know how to reliably reproduce this as the problem disappeared after a few reboots although we had not changed anything on the image. There are actually two problems showing on the log below, the one that this

[2017-03-02 15:17] nagineni commented on #108
Can you check the server logs and see whether it is receiving the update request or not?
`$ NODE_DEBUG=buzzer node buzzer.js`

Currently the rules engine changes the state of the first discovered device always. We can change the functionality to define the device id + name in the rules, if needed.

[2017-03-02 19:21] gvancuts commented on #108
I don't have the system with me anymore, it's being shipped back to Oregon. I don't recall seeing these updates coming in but I'm not 100% anymore. It'd be good if @uhofemei could check that once the system is back in Oregon.

I think there was a also a point where two buzzers were reported by the IoT REST API Server. I don't know why but that made me wonder if part of the problem wasn't that the

[2017-03-06 17:03] uhofemei commented on #108
I will take a look.

[2017-03-07 09:10] gvancuts commented on #108
Would that be a feature request to be implemented or is it something that is in place already but just not used yet in our default `rules.json` file?

[2017-03-07 09:13] gvancuts opened #111 "Smart Solar Panel subsystem needs to be rebuilt"
The Edison board we used for the Smart Solar Panel broke down at the last event (and a connector pin broke too). The HW was replaced by I failed at my attempts to rebuild the functionality. The new HW is in place in the demo kit but a functional image needs to be reflashed onto it.

We should also put a new spare Edison board in the kit (and remove the one in there that is defective).

[2017-03-08 12:58] nagineni commented on #108
Code needs to be adjusted a bit in the gateway-server.js, so it's a feature request. :smile:

[2017-03-08 13:41] gvancuts opened #113 "Enhance rule engine to handle multiple resources of the same type"
In its current instantiation, the rule engine will always and only use the first resource of a specific `id` property when applying a rule. We may need a more advanced mechanism to identify those OCF servers in case there are multiple of them. This applies to both the resources monitored for changes (`add`, `update`, `remove`) and resources that will be changed.

The exact mechanism and parameter

[2017-03-08 13:43] gvancuts opened #114 "Add some documentation to the rule engine"
We should add a `README.md` that includes some basic information about the rule engine in `gateway/rules-engine`. This should include a basic overview of the design and specific information on how to write rules in the `rules.json` file.

[2017-03-08 13:44] gvancuts commented on #108
Thanks @nagineni , I have filed #113 to track this.

[2017-03-08 13:48] nagineni commented on #110
This can happen only when the NODE_PATH is not set correctly. /etc/profile should set this environment variable on the gateway with Refkit/Ostro image by default. No idea why it failed.

[2017-03-08 13:58] gvancuts commented on #110
This smells a bit like a race condition during start-up... this will be a tricky one to root-cause.

[2017-03-13 02:16] qiuzhong opened #118 "Crashed when launching ambient_light.js"
## Environments
* MinnowBoard Turbot
* [IoT-Refkit image#build 135](http://iot-ref-kit.ostc.intel.com/download/builds/intel-iot-refkit_master/2017-03-01_10-58-06-build-135/images/intel-corei7-64/refkit-image-gateway-intel-corei7-64.wic)

It crashed when launching ambient_light.js, see the error log:

[code]

[2017-03-13 10:45] gvancuts commented on #118
This can also easily be reproduced on different HW platform and OS. I can reproduce this using a NUC loaded with Ubuntu 16.04 as an example (`mraa` was installed on that OS using `npm install mraa`).

[2017-03-13 13:17] ttzeng commented on #118
I believe this requires external ADC module like [ADS1015](https://software.intel.com/en-us/iot/hardware/sensors/12-bit-adc-with-integrated-mux-pga-comparator-oscillator-and-reference) or [ADS1115](https://software.intel.com/en-us/iot/hardware/sensors/16-bit-adc-with-integrated-mux-pga-comparator-oscillator-and-reference) connected to your board via I2C bus, did you test with any ADC module?

[2017-03-13 15:44] uhofemei commented on #118
This is odd. There is code in ambient_light.js that should check if an ADC is available and not load the helper function to use UPM if that's the case. See here:

https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/js-servers/ambient_light.js#L31

and here as for what it does:
https://iotdk.intel.com/docs/master/mraa/namespacemraa.html#aab42dc89e7de2ebb8c7530c4868bc933

[2017-03-13 16:07] gvancuts commented on #118
You are correct @ttzeng. This bug is about the app crashing when it's not connected. A better behaviour would be to error out and not crash. There is little error-checking in the code that was added and I guess that's why it's not catching it and exiting cleanly.

You are also correct @uhofemei , the code only loads the helper if there is not existing ADC attached... but it then unconditionally lo

[2017-03-13 16:47] uhofemei commented on #108
With https://github.com/01org/SmartHome-Demo/issues/113 merged, I think we can close this issue?

[2017-03-13 16:48] uhofemei commented on #105
I think we can close the issue? I'm trying to clean up the issue tracker before our next sync meeting on Tuesday :)

[2017-03-13 16:48] #105 closed

[2017-03-13 17:10] gvancuts commented on #108
These are separate. We still need to investigate why the buzzer does not function at all on the hardware kit that we use. The rule should be working well and the investigation should focus on trying to validate the buzzer hardware in isolation for now. Once that's cleared, we can test the rule again.

[2017-03-13 17:16] uhofemei commented on #108
OK understood. Once the demo is back in the lab, I will check this out.

[2017-03-14 00:32] uhofemei commented on #118
I can enhance the UPM helper function with try/catch and print an error message indicating that no ADC was found and the simulation mode should be used on MinnowBoard Turbot. I can use your simulation mode argument code for that. Sound good?

[2017-03-14 07:30] gvancuts commented on #118
That sounds good. Thanks

[2017-03-14 20:54] uhofemei commented on #118
@qiuzhong could you try my change please? This should cause MRAA to report back that no ADC is available on the MinnowBoard. At the same time the ambient_light.js OCF server code should work with the Edison. I will test if the code works as expected if an ADS1515 chip has been installed on the MinnowBoard tomorrow.
https://github.com/uhofemei/SmartHome-Demo/commit/e644dc8e51954e186a338953203a4bf8e

[2017-03-15 03:07] qiuzhong commented on #118
Here are my test results based on [uhofemei@e644dc8](https://github.com/uhofemei/SmartHome-Demo/commit/e644dc8e51954e186a338953203a4bf8ee8b5bcb)
* MinnowBoard Turbot without ADC
[code]
  It can tell users ADC not found. But I don't think it runs in simulation mode in function [<code>setupHardware</code>](https://github.com/uhofemei/SmartHome-Demo/blob/e644dc8e51954e186a338953203a4bf8ee8b5bcb/ocf-s

[2017-03-15 05:48] mjkadera commented on #118
Based on the March 14 meeting
ADC detection on the MinnowBoard is not currently an easy to use solution. No way to implement proper error checking in the code. QA is stating the code is still crashing.

The code was created to support the Hackathon and we recommend to use anther board solution (Edison or Joule) . The recommendation is to remove the code.

[2017-03-15 06:01] mjkadera opened #120 "Connect the cell power supply to the power meter"
As a demo presenter, I would like to show the solar cell power level in the power meter and in the web portal. I would use a phone light or similar flashlight over the solar cell to show the change on the power meter or the web portal.

Now that we have a DC power meter with a placeholder for the solar cell, we should connect the solar power to it.

[2017-03-15 17:56] uhofemei commented on #118
Pull request to remove the code has been created. https://github.com/01org/SmartHome-Demo/pull/121

[2017-03-22 02:32] uhofemei opened #122 "Make buzzer resource controllable remotely via the cloud portal"
Currently the buzzer generates a notification in the cloud app if it has been triggered. I think it would be better to make it controllable remotely. Reasons for this are many: It would allow homeowners to trigger an alarm to let folks at home know to evacuate in case of an emergency for example.

[2017-03-22 04:18] mjkadera commented on #78
The web portal side will have the ability to have multiple users connect to multiple gateways. The energy dashboard will show all gateways setup in the portal that were registered.

In the future we could add a feature to check if the gateway is active or not.

[2017-03-22 04:47] mjkadera commented on #120
The plan is to use a cell phone light to show the change in solar power. Will the cell phone LED have enough power to show a difference on the meter?

[2017-03-22 05:32] gvancuts commented on #122
I'm assuming when you say 'controllable remotely', you mean from the cloud portal, is that correct?

[2017-03-22 05:58] gvancuts opened #123 "Containerize the Gateway and Smart Devices (separately)"
The plan is to have two container services:
* Gateway that will include IoT REST API, IoTivity and rules engine
* Sensor container that will simulate the available sensors

When we scale that gateways, we deploy the gateway and the sensor container. The admin user will login to the admin portal to add each gateway.

One concern is the message queue will not scale. Theresa is exploring if the messa

[2017-03-22 06:03] gvancuts commented on #123
#83 was my first attempt at containerize the SmartHome, but it includes all devices into a singe container, i.e. the Gateway and all the Smart Devices (OCF servers).

I'm not sure how we can set-up the networking to get the desired effect but I will try out a few things and report back.

[2017-03-22 09:32] gvancuts opened #124 "Create test plan to follow when updating the demo or adding new functionalities"
We should create a test plan to go through when upgrading components (HW and SW) of the demo.

Adding new functionalities would likely result in new tests being added to the test plan.

[2017-03-22 15:42] uhofemei commented on #122
Yep. Title updated to make it more clear.

[2017-04-06 04:42] mjkadera commented on #111
Any update on this?

[2017-04-06 04:49] mjkadera commented on #120
Any progress on this?

[2017-04-06 12:33] gvancuts commented on #106
This can be closed as #116 and #112 have both been merged

[2017-04-06 12:33] #106 closed

[2017-04-06 14:38] gvancuts opened #127 "Enhance `smarthome-sensors` Docker container: selectively start some of the OCF servers"
We should enhance the `smarthome-sensors` Docker container by providing a mechanism to allow to selectively choose which OCF servers to start (in simulation mode) inside any container running the image. The exact mechanism on how to do that is to be defined, it could be a shared file listing the OCF servers to start, or a list of them passed as arguments, etc.

[2017-04-06 16:11] uhofemei commented on #120
Not yet. @kiendinh do you have instructions and a bill of materials how to hook up the solar panel?

[2017-04-06 16:12] uhofemei commented on #111
90% complete.

[2017-04-12 04:24] mjkadera commented on #122
Development is done. @ichbinblau will submit a pull request.

[2017-04-12 04:27] mjkadera commented on #127
@gvancuts to provide the recommendation on the code and complete the pull request.

This is blocked until the PR and testing is complete.

[2017-04-12 04:28] mjkadera commented on #127
@ichbinblau will send the request for the validation to the team contact

[2017-04-19 04:48] #122 closed

[2017-04-19 04:51] mjkadera commented on #108
@kiendinh will test with a 5V connector on Arduino 101

[2017-04-19 05:00] mjkadera commented on #111
Services are running, but the test for functionality is still pending

[2017-04-19 05:02] mjkadera commented on #127
@gvancuts to complete the PR review

[2017-04-19 05:04] mjkadera opened #130 "Replace Edison boards with Arduino 101 boards"
Kien is working on this. Gas sensor is not able to migrate without adding another power source since the power requirement is over 3. Volts for the logic circuit. Will use the Edison to manage the gas

[2017-04-19 05:07] mjkadera commented on #130
Adding more resources, for example ZephyrJS to the Arduino 101 could be limited by space or is an OCF server issue. @poussa is this an OCF server issue or an issue with multiple property types

[2017-04-19 05:07] kiendinh commented on #130
All of the 3.3 V sensors have been migrated.
https://github.com/01org/SmartHome-Demo/pull/129

[2017-04-21 09:10] #123 closed

[2017-04-21 09:10] #127 closed

[2017-04-26 04:33] mjkadera commented on #130
@kiendinh is still working on this. 5 volt is still WIP. Will need to use an Edison to support these sensors.

We need to move a few of the sensors to JavaScript to help test the comms stack. @mjkadera and @gvancuts  to add a new enhancement for this request.

[2017-04-26 04:38] mjkadera commented on #111
@uhofemei , any progress on this request?

[2017-04-26 04:39] mjkadera commented on #120
@uhofemei , any progress on this?

[2017-04-26 04:41] mjkadera commented on #108
@uhofemei , Can you help take a look at this setup? @kiendinh was able to get it to work with 5V on the shield.

[2017-04-26 04:53] gvancuts opened #131 "Develop JavaScript sensors (OCF server) based on Zephyr"
We should have a few sensors based on ZJS, the [JavaScript* Runtime for Zephyr™ OS](https://github.com/01org/zephyr.js) and [iotivity-constrained](https://github.com/iotivity/iotivity-constrained). The exact list of sensors to be developed is still TBD.

[2017-04-26 14:58] uhofemei commented on #120
To connect it we need to order a solar panel from Adafruit with the proper connector on it. The solar panel we currently use only has copper wires and no barrel jack connector coming out of it.
https://www.adafruit.com/product/200

[2017-04-28 15:19] uhofemei commented on #108
I have not yet tried to trigger the buzzer on button push, but I can confirm the buzzer works using Tonny's companion app. It also triggers if motion is detected making for a good alarm system.

[2017-04-28 15:33] uhofemei commented on #120
A solar panel replacement with the proper barrel jack connector on it has been ordered.

[2017-04-28 15:34] uhofemei commented on #130
This is work in progress. I have all the parts and just need to flash the device with Kien's code and swap out the Edison with the A101 on Monday.

[2017-04-28 15:36] uhofemei commented on #111
This one is in an odd state. The solar panel OCF server starts, but it never registers with the OCF client gateway. I will replace the actuator and PWM controller board on Monday to see if we are dealing with broken hardware.

[2017-05-02 15:12] uhofemei commented on #131
I've been discussing this in more detail with James Prestwood. The way the ZJS implementation for multiple sensors works is that it's using the property value to access each sensor exposed via a single resource. I don't think this solution is OCF compliant as it entails that the OCF client observing the OCF server must "know" there are multiple sensors "hidden" behind a single resource. There is n

[2017-05-02 15:15] uhofemei commented on #130
The multi sensor solution on Arduino 101 doesn't run stable. I'm able to access temperature, ambient light and motion for 2 minutes or less before the resources disappear. I have reason to believe this is caused by Zephyr crashing and not the BLE interface going down. This is for the reason that our "other" BLE solution being the power meter runs stable after the multi sensor solution has gone dow

[2017-05-02 15:18] uhofemei commented on #118
As the PR for this issue has been merged, I'm closing the issue to clean things up

[2017-05-02 15:18] #118 closed

[2017-05-02 15:19] uhofemei commented on #111
I rebuilt this feature and the solar panel actuator has power. We have no way to control it as Tonny's companion app doesn't see the solar panel resource and Salvatore's smart home control app doesn't work with IoTivity 1.2.0.

[2017-05-02 15:24] uhofemei opened #132 "Companion app doesn't see solar panel resource"
There is no way to control the solar panel actuator from the companion app.

[2017-05-02 15:25] uhofemei commented on #132
I can't seem to assign this bug to Tonny. His GitHub username doesn't resolve.

[2017-05-02 15:29] uhofemei opened #133 "5V RGB led not working"
I connected a 5V chainable RGB led to the protoshield connector as described in the multi sensor Arduino 101 README. Unfortunately the light doesn't turn on.

[2017-05-02 15:30] uhofemei opened #134 "Temperature reading is too high"
The temperature reported by the sensor connected to the Arduino 101 reads too high (124 F average in the lab.)

[2017-05-02 15:36] uhofemei opened #135 "Improve companion app UI"
The companion app UI running in landscape mode uses a rather small font and only spans across 1/6th of the screen size on a high resolution smart phone, such as the Nexus 6P. Is there a way to adjust the font size used according to the device screen resolution?
![screenshot_20170427-114707](https://cloud.githubusercontent.com/assets/933047/25625829/7092f6e0-2f12-11e7-96ae-b4a816f1faed.png)

[2017-05-02 15:41] uhofemei opened #136 "Multi sensors with iotivity-constrained not stable"
The multi sensor solution on Arduino 101 doesn't run stable. I'm able to access temperature, ambient light and motion for 2 minutes or less before the resources disappear. I have reason to believe this is caused by Zephyr crashing and not the BLE interface going down. This is for the reason that our "other" BLE solution being the power meter runs stable after the multi sensor solution has gone dow

[2017-05-02 17:48] mjkadera opened #137 "Setup Cloud Foundry for cloud scalability"
The environment must include Cloud foundry running on OpenStack

* High availability (redundant cloud services)
* Ability to deploy and scale the Smart Home apps up to 20 instances per user

[2017-05-02 17:48] mjkadera commented on #137
Due to a shift in resources, this is on hold until a new contractor is on board and we return from the OpenStack Summit

[2017-05-02 18:19] uhofemei commented on #136
UPDATE: James Prestwood has multiple resources with ZJS working. Using ZJS we will integrate the temperature and ambient light sensor. This leaves RGB led and motion for the native implementation.

[2017-05-03 01:55] andersqiu commented on #134
If you use the Grove Shield, please check the Vcc switch of the Grove Shield. It should be 3.3V. This is from the [README](https://github.com/01org/SmartHome-Demo/tree/master/sensors/ocf_multi_sensors#sensor-wiring):

[2017-05-03 01:59] qiuzhong commented on #134
If you use the Grove Base Shield, please check the Vcc switch. It should use the 3.3V.
In the [README](https://github.com/01org/SmartHome-Demo/tree/master/sensors/ocf_multi_sensors#sensor-wiring) of ocf_multi_sensors:

[2017-05-03 03:25] qiuzhong commented on #134
I got 126 F in the lab before when the Grove Shield Vcc switch was turned to 5V.

[2017-05-03 04:05] mjkadera commented on #111
This is built and pending testing. @uhofemei will run the panel in simulation mode. @ttzeng will recompile the application and provide it to ulf.

[2017-05-03 04:58] gvancuts commented on #133
Do you have a LED attached to D3 as well? If so, does that one work as expected?

[2017-05-03 06:28] qiuzhong commented on #133
[Grove base shield](http://wiki.seeed.cc/Base_Shield_V2/) is required in the [ocf_multi_sensors](https://github.com/01org/SmartHome-Demo/tree/master/sensors/ocf_multi_sensors#sensor-wiring). Protoshield is not tested and I am not sure it can work on this shield connector (I have no such hardware in hand).

[2017-05-03 08:19] ttzeng commented on #132
@uhofemei the solar panel is supported by [the new companion app](https://github.com/ttzeng/android-apps/commit/df3ddf2682f218c95605183be65ecb79739e93ee), both [x86](https://drive.google.com/open?id=0B8-BcoYPJr2LaWxHM1lBRmktYzg) and [armeabi](https://drive.google.com/open?id=0B8-BcoYPJr2LZkNFemxpckU3cm8) flavors are available for your evaluation. Thanks.

[2017-05-03 08:24] qiuzhong commented on #134
From [PR#129 comment](https://github.com/01org/SmartHome-Demo/pull/129#issuecomment-296626681)

[2017-05-03 12:35] gvancuts commented on #135
@ttzeng , can you please take a look?

[2017-05-03 15:53] uhofemei commented on #133
I'm using a Grove shield. The flip switch is set to 5V. The chainable RGB led turns on briefly when I power cycle the device. It's connected to port D7.

[2017-05-03 16:39] uhofemei commented on #111
The solar panel is functional in simulation mode. It can currently be trigger by using a script on the gateway that activates the simulation mode.

[2017-05-04 01:12] qiuzhong commented on #133
I met the behavior that the RGB LED turns on briefly before. This is the intended behavior. The RGB value is initialized to [0,0,0], that's why the RGB LED turns off soon.  The RGB value can be updated by sending REST API server with POST method.

[2017-05-04 07:34] ttzeng commented on #135
I'd propose the near term solution to have the Android framework [auto adjust the text size of the control menu based on the screen size of the device](https://github.com/ttzeng/android-apps/commit/b6a74dbf15c9d1e9715ee37d5fcf5c88f3b8eaa5), and design a new UX to accommodate both webview fragment and resource view fragment across multiple screen size in portrait and landscape modes in longer term.

[2017-05-04 15:37] uhofemei commented on #132
Thanks @ttzeng. I will give it a try :)

[2017-05-04 15:39] uhofemei commented on #134
Thanks @qiuzhong. I will change the setting to 3.3V.

[2017-05-04 16:45] uhofemei commented on #135
With this app the font is bigger but the ratio how much real estate is allocated on the screen by the app seems to be fixed. Can we make it bigger so that text does't have to wrap?
![screenshot_20170504-122717](https://cloud.githubusercontent.com/assets/933047/25714900/7013ba7c-30ae-11e7-8daa-c5aaed7605a0.png)

[2017-05-04 17:14] ttzeng commented on #135
The control menu currently takes [1/4](https://github.com/ttzeng/android-apps/blob/master/smarthome_companion/src/main/res/layout/activity_main.xml#L38-L48) of the real estate on the screen, if it becomes wider, the resource cards may have no sufficient real estate for displaying the resource URI, especially resources may report lengthy host name...

[2017-05-04 18:04] uhofemei commented on #135
Landscape/portrait orientation works, but in portrait the app only takes up 30% of the center of the screen and the top and bottom half are black. The solar panel feature works well! 👍

[2017-05-04 19:32] uhofemei commented on #135
OK understood. It looks better this way already.

[2017-05-09 18:17] #132 closed

[2017-05-09 18:17] uhofemei commented on #134
I have the shield set to 3.3V and the temperature sensor still reads too high > 130 F in the lab.

[2017-05-09 18:18] #111 closed

[2017-05-09 18:30] #108 closed

[2017-05-09 19:20] uhofemei commented on #136
bluetoothd[766]: Unable to register GATT service with handle 0x000b for device F1:13:D1:99:72:CD

[2017-05-10 04:37] gvancuts commented on #135
The latest version of the application provided by @ttzeng fixes this issue. Closing.

[2017-05-10 04:37] #135 closed

[2017-05-10 04:37] gvancuts commented on #133
This was confirmed to be functional, closing this issue.

[2017-05-10 04:37] #133 closed

[2017-05-10 04:38] gvancuts commented on #134
We are still facing this issue with the switch set to 3.3V, we will try with a different physical sensor next.

[2017-05-10 05:00] gvancuts commented on #136
Still experiencing some instabilities when running multiple Zephyr-based sensors at the same time.

Set-up:
- Gateway: Ubuntu 17.04 + iot-rest-api-server (installed directly)
- 1x Power Meter
- 1x multi-sensor (native Zephyr + iotivity-constrained)
- 1x ZJS sensor

It has been observed that using more powerful power supplies improves the BLE stability. @uhofemei will also test reverting the Gatewa

[2017-05-11 16:28] uhofemei opened #138 "Convert ZJS temp and lux raw values"
The raw values reported by the REST API server are 11 bit and need to be converted to Celsius/Fahrenheit and Lux.

For temperature the formula to convert the value can be found here:
http://wiki.seeed.cc/Grove-Temperature_Sensor_V1.2/

Here is an example for the light sensor.
http://wiki.seeedstudio.com/wiki/Grove_-_Light_Sensor_v1.2

[2017-05-11 18:34] uhofemei commented on #134
Swapping out the temperature sensor didn't solve the issue. It's still reading ~ 128 F.

[2017-05-12 01:25] ttzeng commented on #138
@uhofemei IMHO, OCF has defined data models for [temperature](http://oneiota.org/revisions/1809) and [illuminance ](http://oneiota.org/revisions/1811) resources, I believe we should follow the spec instead of having OCF clients convert the data into specific formats, otherwise we will break existing servers such as the Node [temperature](https://github.com/01org/SmartHome-Demo/blob/master/ocf-serv

[2017-05-12 04:59] qiuzhong commented on #134
Tested again, the temperature sensor reading is normal in the lab. The temperature sensor I used is [Grove Temperature Sensor v1.2](http://wiki.seeed.cc/Grove-Temperature_Sensor_V1.2/).
* 3.3V:
[code]
* 5V:
[code]

[2017-05-12 05:14] kiendinh commented on #134
@uhofemei Do you have another Grove shield to try? It's possible that the switch is not actually set to 3.3V even though it is set to.

[2017-05-12 06:16] ichbinblau commented on #138
Hi, @uhofemei @ttzeng . I am a bit confused. Are the resource type `oic.r.sensor.illuminance`  and `oic.r.temperature` ? Are they the same temperature/illunimance server as the original ones? If not, Tonny is right, It may break the existing servers. Or are we going to integrate a new resource type with some customized data formatting?  If you want the new temperature and illuminance sensor data l

[2017-05-17 03:28] #138 closed

[2017-05-17 03:29] uhofemei commented on #134
Using ZJS and the external Grove temperature sensor the reported value is accurate.

[2017-05-17 03:29] #134 closed

[2017-05-17 03:31] uhofemei commented on #136
Using Ubuntu 16.04 made no difference. Swapping hardware made no difference. I have to note that it seems to be required to establish a BLE connection with the device within <=10 seconds after it was powered up or the connection won't get established. Once the device is up, it either remains stable for up to 48 hours (tested) or it goes down within 3 minutes without accessing any of the OCF resour

[2017-05-17 03:40] uhofemei opened #140 "Cloud app brings iotivity-constrained based OCF servers down"
I have observed that launching the cloud web portal, regardless whether it was running on the gateway itself or on a different host on the network, will cause all iotivity-constrained based OCF serves down within <= 2 minutes. This is true for the native multi sensor Arduino or the ZJS solution.  James Prestwood noted that a proper JSON syntax (formatting, order, and number of arguments) the senso

[2017-05-17 08:53] gvancuts commented on #131
With the latest PR #139 being merged, we now have a number of OCF servers available based on ZJS in `ocf-servers/zjs-servers`. I therefore propose that close this enhancement as done. If additional Smart Devices (OCF server based on ZJS) are desirable, we can always open a new feature request.

Any disagreement?

As a side note, we may want to re-organize a bit the directory structure, we have nat

[2017-05-17 09:23] gvancuts commented on #130
@uhofemei , I would like to close this feature request as done and continue tracking the stability issue through #140 , are you OK with that? Or are there other problems not yet captured in other issues?

[2017-05-17 09:25] gvancuts commented on #66
There hasn't been any real activities on this for a while and we're more likely not using this code much anymore since we are transmitting info mostly over BLE these days. Should we close this issue?

[2017-05-17 09:42] arfoll commented on #66
@gvancuts sorry for not replying before.

I really have no idea why this is not working, we use the uart module in this exact mode quite alot with firmata and it works. The only thing I can think of is that you should check syslog/systemd journal to see what mraa is saying as it's probably spitting out some kind of errors that would make debugging this easier.

[2017-05-17 10:06] ttzeng commented on #140
@ichbinblau , while investigating this issue, I found once this issue occurs, even I restart the ZJS servers, the cloud portal won't be able to get the updated report from the API server. The UUID of ZJS servers will change on every reboot, but it looks like the cloud portal continuously polling the dead server:

[code]
The API server has discovered the rebooted server's UUID 5ae36352-47e9-40d8-b9

[2017-05-17 12:59] uhofemei commented on #130
I'm OK with that.

[2017-05-17 13:40] ichbinblau commented on #140
Hi, @ttzeng.  It looks like the resource table has not been synced up with the API server. It means that the celery worker did not get updated on the changes from the API server. It is still using old UUID and resource list even though the container was restarted.
How about remove the docker container and run it again?  In that case, the resource table will be completely removed and created again.

[2017-05-17 13:48] uhofemei commented on #140
How can I run the web portal services without docker?

[2017-05-17 13:51] ttzeng commented on #140
@ichbinblau , remove the container and run a fresh cloud portal can reach to the new OCF server, but once the server restart, it will get new UUID, and even the API server can report the new UUID, the cloud portal looks like unable to get the updates from the API server. Any idea?

[2017-05-17 13:53] ichbinblau commented on #140
@uhofemei under the project folder, there is a wiki on how to deploy web portal on Ubuntu 14.04. I think it should mostly apply to v16.04.

[2017-05-17 14:11] gvancuts commented on #140
@ichbinblau , should we update the wiki page to indicate Python-2.7.12 (that's what we use in the Dockerfile) should be used instead of 2.7.10 (currently documented in the wiki).

What about the TAP-related instructions [here](https://github.com/01org/SmartHome-Demo/wiki/How-to-set-up-the-web-portal-in-OpenStack%3F#configure-the-web-settings), how should these be treated in the case we're not runn

[2017-05-17 14:11] uhofemei commented on #140
@ichbinblau, I'll be in the lab at 5 PM tonight and you can poke at things. I will restart the MCU for you. Sound good?

[2017-05-17 14:14] gvancuts commented on #130
We now have a number of smart sensors running on Arduino/Genuino 101 hence closing this feature request. If new sensors should be developed, a new feature request will need to be created.

[2017-05-17 14:14] #130 closed

[2017-05-17 14:16] gvancuts commented on #136
Is this now a duplicate of #140 ?

[2017-05-17 14:27] ichbinblau commented on #140
@gvancuts I have updated the python version in the wiki and removed the TAP-related configuration as we would no longer use TAP. The configuration is to get the total number of instances scaled up in the TAP environment. If we are using container, the instance id and total number will be N/A.

[2017-05-17 14:30] ichbinblau commented on #140
@uhofemei I am good with the time. I will ping you if I get up earlier.

[2017-05-17 14:36] ichbinblau commented on #140
Hi, @ttzeng. I have no idea why it happens. Would you keep the env (the new UUID cannot be picked) and grant me the access to take a look?

[2017-05-17 15:13] gvancuts commented on #66
Thanks @arfoll , this is a low priority for now but we'll make sure we capture additional logs if we run into this again.

[2017-05-24 14:38] gvancuts opened #143 "Cloud portal runs very slowly when no internet connection is available"
We set-up the IoT to Cloud Smart Home demo without an internet connection and in order to still be able to show the Cloud Portal and analytics, we had a local machine running the `smarthome2loud/smarthome-cloud` docker container. We observed however that it was very slow (to the point of being unusable). We tried different host machine (including a very powerful one equipped with core i7, 32GB of

[2017-05-25 03:01] ichbinblau commented on #143
Hi, @gvancuts. As the Cloud portal uses Google Material design lite (eg. styles, fonts, javascripts), moments.js(for time zone computing), echarts (for drawing the charts),  the portal downloads these resources before completely loading page (You may want to check the code [here](https://github.com/01org/SmartHome-Demo/blob/master/smarthome-web-portal/templates/home_base.html#L32)).

Due to the op

[2017-05-25 13:53] uhofemei commented on #143
To me that means we need to connect the offline gateway to the Internet at least once before we take it to an event so that the cashed content is in sync with upstream.

[2017-05-25 14:52] gvancuts commented on #143
Thanks @ichbinblau for the explanation. I did not realise that this is why a connection was needed. It does not sound very straightforward to get rid of that limitation so I'm enclined to just leave things as is and make sure everyone is aware that a network connection is *required* (and not simply optional). In many ways, one would think that a cloud portal always has an internet connection anywa

[2017-05-26 10:03] ichbinblau commented on #143
Cos there is an expiration time ( normally one day or more)  for caches, the duration varies depending on different response servers (google and cloudflare).  Per my test today, most resources could be cached by browser and reloaded from local disk except for today's weather, weather forecast for power prediction and google maps which requires Internet access.

[2017-05-26 16:55] gvancuts opened #145 "Enhance instructions on how to run the Cloud & Analytics components (focussed on Docker)"
We have some information in this README.md file: `smarthome-web-portal/tools/docker/README.md` that explain how to run the cloud somponents in Docker. But we need to:
1. Update those instructions (they're slightly out of date, e.g. the Docker Hub container is now called smarthome-cloud instead of smarthome-demo)
2. Add `sudo` to all `docker` commands and add the same paragraph about security consi

[2017-05-26 17:18] uhofemei commented on #145
Docker doesn't need to be run with sudo. Instead the system user must be added to the docker group.

[2017-05-26 19:02] gvancuts commented on #145
Correct, and that's accounted for in the new test that this PR introduces so I'm good with the proposal. Do you have any concerns on the new text?

[2017-05-26 19:41] uhofemei commented on #145
The new PR adds sudo to all docker commands and this isn't needed. The system user should be added to the docker group using the command sudo usermod -aG docker $USER. After that docker pull, docker run, etc. can run unprivileged fine.

[2017-05-26 20:48] gvancuts commented on #145
@mmccool's point in PR #144 is that doing so represents a security hole and hence his approach is that we should instead recommend using `sudo`. The option to set things up so you don't need to do it is still available and the text indicates that (also pointing out that it compromises your system's security). I think his approach makes sense. We should also make sure that the various README.md's i

[2017-05-26 20:55] gvancuts commented on #143
I don't think using caching content would be a reliable options for demos at events. We should make sure that an internet connection (wired) is requested for all demonstrations.

[2017-05-26 20:55] #143 closed

[2017-05-30 02:51] mmccool commented on #145
I did consider adding instructions to add the user to the "docker" group, which would have been the alternative to using sudo (and consisent with much of the docker documentation...).   However, when I looked into it, apparently this is equivalent to giving root privileges to that user.   See warnings under
https://docs.docker.com/engine/installation/linux/linux-postinstall/
and
https://docs.docke

[2017-05-30 05:47] mmccool commented on #145
So... now trying to get the cloud web portal to run.   I have it "running" (sort of) but can't yet log in as a regular user.  It looks like the "ostro/ostro" credentials noted in the instructions are out of date.   In fact the login page doesn't even want to accept those credentials as valid (it seems "ostro" is not considered a well-formed password by the input checker for the password input fiel

[2017-05-30 06:48] gvancuts commented on #145
These were changed when PR #125 got merged (and I wish I had remembered to ask for the README.md to be updated as well... :(

New passwords are:
* dev -> P@ssw0rd
* OTC -> !otivity

https://github.com/01org/SmartHome-Demo/pull/125/files#diff-b2d92e484b73f774b4953e429183f45c

[2017-05-30 15:43] uhofemei commented on #145
https://github.com/01org/SmartHome-Demo/pull/146

[2017-05-31 04:01] mmccool commented on #145
OK, thanks.  I also managed to get it to work by creating a new user, but it would be good to update the docs, of course.

[2017-05-31 09:09] gvancuts commented on #145
Are we referencing `https` instead of `http` in our documentation somewhere?

It is possible to switch to `https` by changing [this line](blob/master/gateway/start-gateway-in-docker.sh#L14) adding `-s` as an argument (thinking about it, it would be a good idea to make this a parameter that could be passed to the Docker container instead of having to rebuild a new container for this... I'll file a

[2017-05-31 09:11] gvancuts opened #147 "Add a parameter to the smarthome-gateway container to switch between HTTP and HTTPS"
We should add support for a parameter (`-s` recommended) so that the smarthome-gateway container provides support for HTTPS (instead of plain HTTP).

[2017-06-01 09:20] gvancuts commented on #145
@mmccool I have created PR #147 that, **once merged**, will allow you to easily switch to https on the gateway, e.g.:
[code]

[2017-06-02 05:28] qiuzhong opened #149 "zjs-servers temperature.js and multiserver.js don't work with Zephyr SDK 0.9.1"
After upgrading to [Zephyr SDK 0.9.1](https://github.com/zephyrproject-rtos/meta-zephyr-sdk/releases/download/0.9.1/zephyr-sdk-0.9.1-setup.run), the zjs-servers [temperature.js](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/zjs-servers/temperature.js) and [multiserver.js](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/zjs-servers/multiserver.js) don't work any mo

[2017-06-02 05:29] qiuzhong commented on #149
Is this the same as [zephyr.js issue#1204](https://github.com/01org/zephyr.js/issues/1204)?

[2017-06-02 05:32] qiuzhong commented on #149
@ttzeng

[2017-06-02 05:41] ttzeng commented on #149
@qiuzhong , yes, this is caused by the upstream bug #1204. Thank you for linking them!

[2017-06-07 07:52] #147 closed

[2017-06-08 12:01] gvancuts opened #152 "New user/gateway not persistent across a container restart"
You can add a new user and gateway through the Admin portal but these are not persistent in case you stop/restart the smarthome-cloud container. We should find a way of making those persistent.

[2017-06-08 12:15] gvancuts opened #153 "New gateway/user does not see any sensor data (using container)"
After adding a new gateway and user (and mapping the two) in the cloud portal. The user dashboard does not display any sensor information although there are a number of them visible from that gateway. I observed that if I pick a pre-exisiting user (either dev or OTC) and make it point at the very same gateway, then I see all the sensor data.

This issue _may_ be confined to when running inside a c

[2017-06-08 12:18] gvancuts opened #154 "Not possible to log in to the user portal using different credentials from different tabs"
It is not possible to have multiple tabs opened under different users (different credentials) for the User Portal. I have only tested this on Google Chrome Version 59.0.3071.86 (Official Build) (64-bit) so far.

[2017-06-08 16:50] uhofemei commented on #149
I was able to observe temperature based on PR https://github.com/01org/SmartHome-Demo/pull/150.

[2017-06-09 03:20] qiuzhong commented on #149
Tested PR #150 with Zephyr SDK v0.9.1 and it turned out that `multiservers2.js` can work with Zephyr SDK v0.9.1.

[2017-06-09 03:40] ichbinblau commented on #154
Hi， @gvancuts . It is an expected behavior.  When user signs in, web server creates a session keeping user info for the user and sends back a session id to the client as cookie saved in browser (as you can see below). In that case, server can identify the user for the later requests by the session id. Any further access (open a new tab) to the same domain or url such as \<portal-ip\>:3000 in the b

[2017-06-09 05:33] ttzeng commented on #149
Per the [upstream report of issue #1204](https://github.com/01org/zephyr.js/issues/1204), it seems the SDK 0.9.1 breaks at least the ADC and the on-chip BMI160 peripherals (i.e. temperature, gyro, accelerometer). The temperature resource in [PR#139](https://github.com/01org/SmartHome-Demo/pull/139) drives the on-chip BMI, which is impacted. The temperature resource in [PR#150](https://github.com/0

[2017-06-09 08:20] gvancuts commented on #149
The initial description makes it look like there is a problem with the Bluetooth part as well as with some sensors (such as the integrated BMI160). Based on the latest comments however, it seems like the Bluetooth part is actually fine and it's just _some_ sensors that are affected. Is that correct?

One important question related to this: when we are testing a new SDK such as 0.9.1, are we buildi

[2017-06-09 08:41] ichbinblau commented on #152
Hi, @gvancuts. The user and gateway info are saved in the MySQL database which should be persistent during the container's life cycle.  If the container/database is destroyed, the data will be gone.

From the local test, the new user/gateway was still there after I restarted or stopped and started the container.  I used `docker restart <container-id>` to restart the container.
If you used `docker

[2017-06-09 08:43] ichbinblau commented on #153
@gvancuts Yes, it is not possible for the time being.  A restart is required to load the data. I will find ways to improve it.

[2017-06-09 08:55] gvancuts commented on #152
If I remember correctly, I stopped the container by pressing Ctrl-C on the terminal. I don't remember if I have tried with `docker stop` but I have never used `docker rm` for sure.

[2017-06-09 09:05] gvancuts commented on #152
Ah, I think I understand what I was doing wrong... I was always starting the cloud using
[code]
What I should do instead is either assign is a name or re-use the same container ID... my bad, my understanding of how containers work is obviously still largely incomplete.

I think it'd be good to add a note somewhere in our series of README.md to explain this subtlety. I'll turn this issue into an en

[2017-06-09 09:08] qiuzhong commented on #149
I didn't build and flash the `hci_uart` when I filed this issue.

The [Zephyr.js](https://github.com/01org/zephyr.js) QA had confirmed that with Zephyr SDK v0.9.1, the [BLE.js](https://github.com/01org/zephyr.js/blob/master/samples/BLE.js) (It tests BLE function only) still works fine. But if you use both the impacted sensors and BLE function, the Bluetooth network will not be set up and be discov

[2017-06-09 09:10] gvancuts commented on #154
Thanks for the explanation @ichbinblau. Is there an easy way each tab (i.e. new sign-in) could create a new session associated with a different cookie?

[2017-06-09 09:54] qiuzhong commented on #149
I just updated the `hci_uart` binary built with Zephyr SDK v0.9.1 and tried again. It didn't help.

[2017-06-09 10:41] ttzeng commented on #149
The issue is Arduino 101 won't be able to boot if build against the SDK 0.9.1
PS: "ipm_console0: 'Sensor core running ZJS ARC support image" message is expected to be shown on the serial console; however, no any messages shown while using SDK 0.9.1

[2017-06-09 14:17] gvancuts commented on #149
Could we summarize what works with the various Zephyr SDKs? For example:

| Zephyr SDK | BLE | sensors |
| --- | --- | --- |
| 0.8.2 | OK | OK |
| 0.9.0 | NOK | OK |
| 0.9.1 | OK | NOK * |

*: only some sensors are not working as expected, more specifically the BMI160 and (any other?)

Is that right?

[2017-06-09 14:38] ichbinblau commented on #152
Yes, I usually use the command below to create the container.  The container process runs in the background.
`docker run -d --name portal -p 3030:3000 -p 3031:4000 smarthome2cloud/portal:v1`
The steps have been documented [here](https://github.com/01org/SmartHome-Demo/tree/master/smarthome-web-portal/tools/docker) . But it seems a little out-of-dated. I will submit a PR to improve it.

[2017-06-09 14:41] ichbinblau commented on #154
I will do some study on it. I think it is possible if I can rewrite each request url to random domain.  In that case, the each tab has its own session id.

[2017-06-09 15:16] mjkadera commented on #154
Could we just open a new incognito browser or is this option not as elegant as what you are looking for?

[2017-06-09 15:21] uhofemei commented on #149
IMHO we should not report the temperature from the BMI160, but an external grove temperature sensor instead. The internal MCU reading reports 20+ Celsius more than the actual outside temperature and we currently don't indicate that the temperature reading is the internal MCU temperature and not the outside temperature value.

[2017-06-09 16:22] gvancuts commented on #152
8

Sent from my Samsung Galaxy smartphone.

That would be nice of you... I had created issue #145 to track getting that part of the documentation updated.

Thanks!

[2017-06-09 19:27] gvancuts commented on #154
We could and that's good enough for me. I was mostly interested in case there was an easy way to change this. I wouldn't do it if it means too much investigation and a fairly big code change.

[2017-06-12 07:01] qiuzhong commented on #149
@gvancuts , here is the summary of different SDK versions:

| Zephyr SDK	| BLE | Sensor |
| --- | --- | --- |
| 0.8.2 | OK | OK |
| 0.9 | OK | OK |
| 0.9.1 | OK | NOK* |

*: only some sensors are not working as expected, more specifically the BMI160 and Grove light sensor.

[2017-06-12 07:33] gvancuts commented on #149
Thanks @qiuzhong .

@kiendinh , there was something about the Zephyr SDK 0.9.0 that did not work, at least when using native code... I thought it was related to Bluetooth but apparently not, can you refresh my memory as to what that was? Thanks!

[2017-06-12 07:43] kiendinh commented on #149
@gvancuts : it's something relating to compiler bugs with -Os. Here is the bug:
https://jira.zephyrproject.org/browse/ZEP-1882

They got it fixed by upgrading to gcc 6.3.0.

[2017-06-12 15:31] gvancuts commented on #149
Thanks @kiendinh . Did they fix that in 0.9.0 or 0.9.1?

I am still confused since reading through https://github.com/01org/zephyr.js/issues/1204 made me believe the ADC is still broken in 0.9.1.

Is there an OCF server in our ZJS sample portfolio that **requires** ADC? If so, which version of the SDK does it work with?

[2017-06-12 19:03] uhofemei commented on #120
Two issues with this. First, the DC power meter needs a DC jack header soldered on to the board. Second, I don't know what low power device we could use that would draw power from the solar panel.

[2017-06-13 08:04] gvancuts commented on #154
Let's keep this as is for now, closing this issue.

[2017-06-13 08:04] #154 closed

[2017-06-13 08:06] gvancuts commented on #152
User bug (i.e. I'm myself buggy)... I need to properly use container IDs when starting/stopping/restarting containers and things will be fine... closing this!

[2017-06-13 08:06] #152 closed

[2017-06-13 08:07] gvancuts commented on #153
Let's update this to a low priority item and change it from a bug to a feature enhancement (see also why #152 was not a real bug but rather a buggy user ;-))

[2017-06-13 08:11] gvancuts commented on #120
Thanks for the update @uhofemei , let us know if you need help solving these issues.

[2017-06-13 08:15] gvancuts commented on #78
PR #125 was merged... closing this issue!

[2017-06-13 08:15] #78 closed

[2017-06-13 08:18] gvancuts commented on #131
No disagreements were voiced... closing this! (we can discuss the folder organization separately)

[2017-06-13 08:18] #131 closed

[2017-06-13 08:19] gvancuts commented on #101
Is this issue still valid?

[2017-06-13 08:20] gvancuts commented on #91
I believe this was completed and merged, wasn't it @ichbinblau ?

[2017-06-13 08:20] kiendinh commented on #120
@uhofemei : It's not necessary to solder. You can use a cable with DC connector like the one used in the left side of the DC meter. Use a screw driver to connect the + and - wire to the green connector. + to the left and - to the right pin.

[2017-06-13 08:23] ichbinblau commented on #91
Yes, a generic widget has been created for generic sensors.  If there is any improvements and requirements, we can open another issue for it.

[2017-06-13 08:25] gvancuts commented on #91
Thanks, closing this then.

[2017-06-13 08:25] #91 closed

[2017-06-13 08:26] ttzeng commented on #101
This no long valid as Theresa added the code, no "&obs=1" was included in the query to non-observable resources.

[2017-06-13 08:32] ichbinblau commented on #101
Yes, the code has been updated to treat observable and non-observable resource separately.  I did not see this problem anymore.

[2017-06-13 08:32] gvancuts commented on #101
Thanks @ttzeng , closing this then.

[2017-06-13 08:32] #101 closed

[2017-06-13 14:00] uhofemei commented on #120
@kiendinh OK. What do I use that draws enough, or so little that we can connect it to the solar panel and get a reading?

[2017-06-13 14:18] gvancuts opened #156 "Document how to use the Cloud Portal (Admin)"
We have *some* information on how to use the Cloud Portal but some aspects are not yet documented (or not well enough). We should add some more information on those topics (but not necessarily limited to):
* How to add a new user / edit existing users
* How to add a new gateway / edit an existing gateway
* How to tie a user to a gateway

[2017-06-13 17:17] uhofemei commented on #136
Yes, I would say so. I also filed a bug in the ZJS issue tracker. https://github.com/01org/zephyr.js/issues/1237

Geoff was telling me they will re-direct this to Kishen for further investigation. The isuse opened in the iotivity-constrained repo that discusses this is: https://github.com/iotivity/iotivity-constrained/issues/5

[2017-06-13 17:18] uhofemei commented on #140
I also filed a bug in the ZJS issue tracker. 01org/zephyr.js#1237

Geoff was telling me they will re-direct this to Kishen for further investigation. The isuse opened in the iotivity-constrained repo that discusses this is: iotivity/iotivity-constrained#5

[2017-06-13 23:20] kiendinh commented on #120
I don't know @uhofemei. It depends on the output voltage and current that it can produce in specific conditions (sun light/light source). The safe option is to light up some LED, the better one is to power up another board like TinyTILE, Arduino 101..., the coolest one is something can show the current variation - I think that a fan would be nice. It runs faster with higher current.

[2017-06-14 07:56] gvancuts commented on #140
Thank you @uhofemei

I don't see the link between our issue and that one?

[2017-06-14 13:16] uhofemei commented on #140
I agree there seems to be a disconnect. The issue being that iotivity-constrained won't build with Zephyr 1.8 RC1 certainly affects us, but I think, I will file a new issue based on ZJS #1237.

[2017-06-14 14:18] gvancuts commented on #145
PR #155 was merged, closing this.

[2017-06-14 14:18] #145 closed

[2017-06-16 08:05] qiuzhong opened #157 "zjs-servers don't work after updating zephyr.js"
After I update the [zephyr.js](https://github.com/01org/zephyr.js) to [44a5e6b](https://github.com/01org/zephyr.js/commit/44a5e6b8547af30583cc324d1263464e4fd76325), all the [SmartHome-Demo zjs-servers](https://github.com/01org/SmartHome-Demo/tree/master/ocf-servers/zjs-servers) samples are not working any more. The "ZJS Device" can be discovered and connected to the host, though.

I filed [zephyr.

[2017-06-16 09:07] ttzeng commented on #157
It's a regression from the upstream project. Same kernel abort message even running the sample code samples/OcfServer.js in zephyr.js repository:
[code]

[2017-06-19 17:05] uhofemei commented on #157
Could this be true for the native multi sensor code submitted in https://github.com/01org/SmartHome-Demo/pull/129 as well? I tried building the native multi sensor code against Zephyr and iotivity-constrained master and am not seeing the BLE device come up.

[2017-06-20 04:23] qiuzhong commented on #157
I tried the native multi sensor sample. It turned out that the zephyr or iotivity-contained master can affect the native code as well.

But in my test, the BLE device **Zephyr OCF Sensors** can be discovered and `bt0` on the host can be set up. However, it's very unstable. The OCF resources cannot be discovered via the iot-rest-api-rest-server, either.

[2017-06-20 15:54] uhofemei commented on #157
I think the native multi server sample code needs to be rebased to work with the latest SDK and Zephyr and iotivity-constrained master. I was able to compile the code, but I'm not getting any output whatsoever using a serial connection.

[2017-06-26 21:28] uhofemei opened #164 "Describe prediction data set format"
Theresa,

When I opened the wiki for instructions how to upload the prediction data set you provided me with, I noticed we have no paragraph that described the data set CSV format. Can we add a paragraph that explains the meaning of the CSV order and values? Maybe we could also add a paragraph that explains where the data can be obtained.

[2017-06-27 07:49] ichbinblau commented on #164
Hi, @uhofemei. The datasets have uploaded https://github.com/01org/SmartHome-Demo/pull/163/commits/ab440c12bd0f0bb7b066a8bf98839c7dbaac6fba  and the instructions have been improved [here] (https://github.com/01org/SmartHome-Demo/wiki/How-to-load-weather-and-power-prediction-data-automatically%3F). PTAL

[2017-06-27 16:57] uhofemei commented on #164
This looks good to me. 👍

[2017-06-27 16:57] #164 closed

[2017-06-28 05:18] mmccool opened #166 "Edison install of SmartHome-Demo uses old iotivity-node version"
The Edison image (build 507) for the Edison provided at https://01.org/smarthome includes iotivity-node version 1.1.1-3 which is incompatible with the head released now used in this repo.   The install instructions for a physical setup of the SmartHome-Demo at the above site will fail.

Fortunately, there is a (partial) fix: right after doing the clone, execute
    git checkout tags/1.1.1-3
which

[2017-06-28 05:45] ttzeng commented on #166
@mmccool AFAIK the iot-rest-api-server has introduced [a new policy attribute 'p'](https://github.com/01org/iot-rest-api-server/commit/ce21be84dc2d3a03fb99b0756141e29fcbbcb625), and the cloud portal already adopted on it, this only applies to 1.2.0, so the cloud portal may not work, unless @ichbinblau has implemented a fall back mechanism.

BTW, I've highlighted we should decouple iotivity-node fr

[2017-06-28 06:11] ichbinblau commented on #166
@ttzeng The fallback mechanism is implemented if you check the code [here](https://github.com/01org/SmartHome-Demo/blob/master/smarthome-web-portal/RestClient/Resource.py#L58). By default, the portal treats every resource observable.

[2017-06-28 06:19] mmccool commented on #166
Great, thanks; I will try the snap.   I did confirm that the new gateway code doesn't work with the old version of iotivity-node (the resources get enumerated on the gateway, but trying to access them gives a "Resource retrieve failed: findResources: unexpected response" error.

I would not close this issue though until the instructions on 01.org/smarthome are updated; right now they are effective

[2017-06-28 06:22] mmccool commented on #166
Context: I'm trying to set this up to have some OCF devices to test with from my work in building a W3C/Web-of-Things bridge.   So a workaround implemented in the cloud (for instance) doesn't really help me.   I want to access the devices and/or the gateway directly from my own system (which, BTW, will be based on node-wot, and likely running on the same physical system as the IoTivity gateway).

[2017-06-28 07:55] ttzeng commented on #166
@ichbinblau good to know the fallback mechanism is available. How about the [multiple resource type support](https://github.com/01org/iot-rest-api-server/commit/900fcd9915f20037770d789c8dc887a966330576) introduced since iot-rest-api-server v0.5? will the existing cloud portal get the right resource type from the array of strings?

@mmccool if there will be an issue with the current cloud portal wi

[2017-06-28 08:44] gvancuts commented on #166
Hi @mmccool , the tutorial in indeed painfully outdated at this stage, we have started an internal effort to update it. The README.md files in the repo should hold more up-to-date information and moving forward we are looking at ways to keep both better in sync. Do you mind if I hijack this issue to turn that into a "Update the online tutorial" request?

[2017-06-28 08:50] zolkis commented on #166
@gvancuts go ahead :)

[2017-06-28 09:37] mmccool commented on #166
Sure ;).  But one question is whether you should update just the instructions (to allow the old demo to run) or update the entire tutorial (eg with a new Edison image) to run the newer version of the software.  The latter would be better, IMO.  Although at some point you'll also have to deal with the fact the Edison is discontinued, too...

[2017-06-28 10:23] mmccool commented on #166
By the way, I just tested using the snap and this works.  Details:
1. Install the Yocto image supporting snaps posted above by @ttzeng
2. Set up wifi using `configure_edison --wifi` as `connmanctl` does not work in this image
3. Login to the Ubuntu snap store (you will have to set that up first...) using `snap login`
4. Grab the `ocf-util` snap using `snap install ocf-util --edge`
5. Run the appro

[2017-06-28 10:28] mmccool commented on #166
I also tried building an updated Yocto image for my Edison using the instructions at https://github.com/nagineni/SmartHome-Demo/wiki/Building-Custom-Image-for-Edison
but the build failed in iotivity-node.  I also could not get a manual `npm install -g iotivity-node` to work.
Finally, if anyone reading this is interesting, here is the snap definition from @ttzeng
https://github.com/ttzeng/snap-reci

[2017-06-28 13:07] gvancuts commented on #166
I was not planning on fixing the current instructions, we are going straight for a full update that will explain how to run the latest code.

All the sensors/smart devices (i.e. OCF servers) we used to run on Edison are also available on Zephyr (look inside the `ocf-servers/zjs-servers` and `sensors` folders). There are some stability issues for those using 6LowPAN but the intent is that they repl

[2017-06-28 13:30] nagineni commented on #166
but the build failed in iotivity-node.

Hi @mmccool, There was a conflict between iotivity and iotivity-node recipe versions (v1.2.1 and v1.2.0) and that was causing the build failure. Now both the recipe versions (v1.2.1) are in sync and those instructions are also working fine (tested locally). I also moved the wiki to main repo for now: https://github.com/01org/SmartHome-Demo/wiki/Building-Cust

[2017-06-28 14:58] gvancuts commented on #166
Yes, I think a lot of us will agree with this!

Another good mechanism in my opinion is to use the [smarthome2cloud/smarthome-gateway]( https://hub.docker.com/r/smarthome2cloud/smarthome-gateway/) container. @ttzeng knows how to add support for Docker to a Yocto image. It is also very easy to deploy this on other Linux distributions (e.g. Fedora)... and you can even deploy that on Mac (and possibl

[2017-06-28 14:59] #156 closed

[2017-06-29 05:28] mmccool commented on #166
I will certainly look into Edison alternatives after my project targeting the W3C Web of Things plugfest event this July.   There is another event in the fall (in conjunction with TPAC in Burlingame) that I could try to target with the Zephyr-based systems.  For the time being though I was trying to avoid the extra complications of constrained (eg non-Linux, non-Node.js-capable) device.  Hopefully

[2017-06-30 06:08] mmccool commented on #166
It may also be helpful to mention that after the snap install I was able to run the OCF servers automatically using systemd but only after updating the systemd service files, changing /usr/bin/node to /snap/bin/ocf-util.node (and, since I didn't bother copying the files to /opt, /opt to /home/root, including for the path to node_modules).

[2017-06-30 14:04] gvancuts commented on #166
Thanks @mmccool and glad to hear that the systemd service files were helpful! It's unfortunate that one has to update them before they can be used but I don't know how to make them generic short of developing packaging for different Linux distributions.

We do not do any active work on Ostro anymore at this stage, we really focus more on Yocto (inc. IoT RefKit) or Ubuntu. I believe @ttzeng has way

[2017-07-03 08:48] ttzeng commented on #166
@mmccool in case you would run Yocto on your gateway, [this Pyro installer image](https://drive.google.com/open?id=0B8-BcoYPJr2LdzJneDZKMmtwY0E) can be installed on Intel x86_64 platforms, and supports both snaps and docker containers. FYR.

[2017-08-01 03:01] qiuzhong commented on #157
**Update**:
 Zephyr.js developers had closed [zephyr.js issue#1255](https://github.com/01org/zephyr.js/issues/1255) in [this PR](https://github.com/01org/zephyr.js/pull/1417). This fixed the one-sensor cases (led,js, temperature.js). However, the multi-sensor cases(multiserver.js, multiserver2.js) still don't work.

[2017-08-02 15:12] gvancuts commented on #157
Is it broken in the same way it was before? We should determine if https://github.com/01org/zephyr.js/issues/1255 needs to be re-opened or if a new issue should be filed.

Thanks!

[2017-08-02 15:51] uhofemei commented on #157
This needs to be determined. IMHO being able to drive one sensor isn't sufficient for demo purposes. The bug I had opened that addresses the multi sensor use case is still open. https://github.com/01org/zephyr.js/issues/1237

[2017-08-03 00:21] ttzeng commented on #157
I believe this issue has been transformed. This issue was caused by a segfault at the 1st place, and it's disappear after merging several commits few weeks ago. However the server will be lost from the REST API server report after few queries from the browser, which I think is different than [01org/zephyr.js#1237](01org/zephyr.js#1237), that one requires accesses from the web portal. IHO

[2017-08-03 08:45] gvancuts commented on #157
Thanks @ttzeng. I would suggest closing this issue in this case.

Does that mean we need another issue filed in addition to https://github.com/01org/zephyr.js/issues/1237?

[2017-08-04 01:19] ttzeng commented on #157
@gvancuts I believe [01org/zephyr.js#1237](https://github.com/01org/zephyr.js/issues/1237) filed by @uhofemei was referring the inaccessibility from the web portal (instead from REST API server), which is associated with #136 in this project. We definitely can track the interoperability between ZJS and web portal there. However, [01org/zephyr.js#1255](https://github.com/01org/zephyr.js/issues/1255

[2017-08-04 05:40] qiuzhong opened #169 "request.resource update to request.data for zjs-servers samples"
According to the latest iotivity-constrained OCF specification in [zephyr.js/docs/ocf.md](https://github.com/01org/zephyr.js/blob/master/docs/ocf.md#ocf-server), the OCF `Request` object is defined as:
[code]
Thus, `request.resource` which is used in all the zjs-servers examples, now is undefined. All zjs-servers examples are not response the `POST` requests correctly.
[code]
We should use `reques

[2017-08-04 06:04] ttzeng commented on #169
@qiuzhong thanks for the notification, I'll update the code and PR accordingly.
:+1:

[2017-08-04 08:25] ttzeng commented on #169
@qiuzhong I've updated the led, multiserver, and multiservers sample code with PR #170 to compliant with the new Request API, however due to [ZJS issue #1428](https://github.com/01org/zephyr.js/issues/1428), I am unable to validate the result before submitting the PR. We may wait the resolution from the ZJS project to unblock the verification, by now only led and temperature (single resource) have

[2017-08-04 08:53] qiuzhong commented on #169
@ttzeng Yes. I also tried the led.js and temperature.js with new Request API and verified that they can work well.

For multi-sensor cases, due to [ZJS issue #1428](https://github.com/01org/zephyr.js/issues/1428), they still don't work. So we have no way to complete the verification right now.

Thanks for you quick reply and update!

[2017-08-04 09:28] gvancuts commented on #157
Let's not mix multiple issues in the same bug report, it will just create more confusion.

It definitely looks like a different problem. That bug, however, is closed now. I believe it was closed on the basis that it has been *partially* resolved (i.e. resolved for a single resource but that's not sufficient for OCF servers hosting multiple resources). Can someone file a new bug to make sure this i

[2017-08-10 07:00] qiuzhong commented on #169
**Update**: [ZJS issue#1428](https://github.com/01org/zephyr.js/issues/1428) had been fixed. All the zjs-server samples can work well with the upstream fix now. I think this issue can be closed now.

[2017-08-10 07:05] qiuzhong commented on #149
**Update**: Zephyr SDK 0.9.1 can work with the example now (with zephyr.js commit [ddc30dc](https://github.com/01org/zephyr.js/commit/ddc30dc9db3963977eac933be148ffc54c23aec2)). Can we close this issue now?

[2017-08-10 07:12] ttzeng commented on #149
+1   the SDK 0.9.1 is required, or the build will abort and ask the user to use SDK 0.9.1

[2017-08-10 07:18] ttzeng commented on #169
@qiuzhong how many GETs did you test with the multiserver? The board will hung in 5~10 GETs in my test with [ddc30dc](https://github.com/01org/zephyr.js/commit/ddc30dc9db3963977eac933be148ffc54c23aec2)

[2017-08-10 07:47] qiuzhong commented on #169
@ttzeng , for multiserver, I can get all the sensors.

[2017-08-10 08:08] ttzeng commented on #169
@qiuzhong yes, all servers are discovered from the /api/oic/res endpoint, but once I get the di of a specific server, I can only read the property of that server 6~8 times, then the system hang. Did you observe the symptom at your side?

[2017-08-10 09:04] qiuzhong commented on #169
@ttzeng , the behavior you described above also happened at my side! Then I found all the sensors are gone via `/res` REST request. The 6lowpan is still on though. So is is this an upstream issue?

Besides that, I found sometimes the **ZJS Device** cannot be found after the board boots. If I flash the bluetooth firmware and JS image again, the **ZJS Device** might be found.

[2017-08-10 10:07] gvancuts commented on #149
Great!

@ttzeng , are you saying that the build system will automatically abort of 0.9.1 is not installed?

Do we need to update this paragraph [1] to keep our documentation up to date?
[1] https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/zjs-servers/README.md#setup-zjs-build-environment

Thanks!

[2017-08-10 13:30] ttzeng commented on #149
@gvancuts yes, the Zephyr dependency in ZJS will check the toolchain version, it won't build if SDK 0.9.1 is not installed, and this already highlighted in the README.md of our ZJS samples in the PR#170.

[2017-08-10 13:41] ttzeng commented on #169
@qiuzhong though I didn't check whether the 'ZJS Device' Bluetooth device name has been advertised, I can always connect to the board as I always use fixed Bluetooth address. Anyway, we may need to file an upstream bug for this new symptom.

[2017-08-10 15:01] uhofemei commented on #169
I can see the sensors, but using the smart home cloud app to access the sensors via the REST API  will render the sensors unavailable within seconds.

[2017-08-10 16:10] gvancuts commented on #149
Thanks @ttzeng!

Shouldn't we update the README.md to advice people to use this newer commit (https://github.com/01org/zephyr.js/commit/ddc30dc9db3963977eac933be148ffc54c23aec2) as opposed to the one currently referenced (whic is older: (https://github.com/01org/zephyr.js/commit/55e8293ac516c74d072cf84ea6910643b626c924))?

[2017-08-11 08:32] wanghongjuan commented on #169
@ttzeng I can reproduce the symptom that you mentioned, and file a new issue https://github.com/01org/zephyr.js/issues/1457, I think we can trick the new issue and close this one now, after all the request.resource has been updated to request.data, and it works.
@uhofemei About the symptom what you said is doesn't matter with this issue, I think we can open a new issue to track it. Is it OK?

[2017-08-11 08:46] wanghongjuan opened #172 "Update the value which is boolean to number for zjs-servers samples"
According to the latest GPIO specification in [zephyr.js/docs/gpio.md](https://github.com/01org/zephyr.js/blob/master/docs/gpio.md#web-idl), GPIOPin is defined as:
[code]
When invoke the method `write`, it required one number value, thought, the boolean value still can work well, but it is deprecated in zjs. Most of zjs-servers examples have this behavior.

The terminal show information as below w

[2017-08-12 10:27] ttzeng commented on #169
This issue is regarding the change of the Request API, I agree with @qiuzhong we should close this now as there already have open issues tracking the instability.

[2017-08-12 13:27] ttzeng commented on #172
@wanghongjuan thanks for catching this bug, please review this resolution #173

[2017-08-12 13:56] ttzeng commented on #149
@gvancuts the original idea is to highlight **the commit of API** instead of the commit we've validated, to avoid updating the link in this README.md every time when ZJS push to a new HEAD. Anyway, proposing to rephrase as "(b) checkout the **known-to-work** commit which we have validated" in the PR #173

[2017-08-14 01:52] #169 closed

[2017-08-14 03:41] qiuzhong commented on #157
Close this issue as it should not confuse us any more . Since [01org/zephyr.js#1255](https://github.com/01org/zephyr.js/issues/1255) is closed, this issue should be closed. For the new bug, see [01org/zephyr.js #1428](https://github.com/01org/zephyr.js/issues/1428)

[2017-08-14 03:41] #157 closed

[2017-08-14 05:17] qiuzhong commented on #149
Close it as upstream fixed.

[2017-08-14 05:17] #149 closed

[2017-08-14 06:52] gvancuts commented on #149
Hi @ttzeng , are you saying that https://github.com/01org/zephyr.js/commit/55e8293ac516c74d072cf84ea6910643b626c924 as currently indicated in the dco _should_ work? If so, I'm fine with leaving the doc as is, I thought that using a newer commit ID was *required* for things to work correctly. If not, please disregard my request.

[2017-08-18 08:53] qiuzhong opened #175 "Zjs-servers cannot work with iot-rest-api-server@0.6.0"
## Description:
Recently there is a new iotivity-node release: 1.3.0, this is applied to the iot-rest-api-server 0.6 version.
However, after iot-rest-api-server is upgraded to 0.6.0, the REST API cannot discover the OCF resources from zjs-servers. The 6lowpan connection is still on. Meanwhile, this version iot-rest-api-server can work with the js-servers from #174

## Steps:
1. Update [iot-rest-ap

[2017-08-19 11:15] ttzeng commented on #175
It's the upstream bug ([#1481](https://github.com/01org/zephyr.js/issues/1481)), the A101 receives requests but no responses. Since the upstream sample code are also affected, let's wait the resolution from the ZJS engineering team.

[2017-08-21 07:57] #172 closed

[2017-08-22 02:30] wanghongjuan commented on #172
Verified this issue with #173, it can not be reproduced.

[2017-09-06 14:49] gvancuts opened #181 "Only devices whose 'href' starts with "/a/" or "/brillo" are displayed in the portal"
The cloud portal currently only display devices/sensors (OCF servers) whose `href` parameter starts with either `/a/` or `/brillo`. It is however perfectly valid to use a different prefix. We have an example of such device in our repo in `ocf-servers/zjs-servers/temperature.js` (`href` is `/bmi160/temperature`).

[2017-09-06 15:39] gvancuts commented on #181
I have filed https://github.com/01org/iot-rest-api-server/issues/74 to try get to the bottom of the problem I last described in #177

[2017-09-07 01:19] pcaston opened #182 "Unable to start OCF server javascripts"
I am connecting to the 'Connected Smart Home' Intel Edison Arduino board and Grove devices from Windows 10 using Putty.

**When I launch the java scripts as background processes I get the following error. **

Error: Cannot find module 'lodash.mergewith'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17

[2017-09-07 01:45] ttzeng commented on #182
@pcaston what image did you installed on the Edison board? and what's the node.js version?

[2017-09-07 04:53] pcaston commented on #182
@ttzeng I installed the Ostro OS via the hyperlink:
ostro-image-swupd-dev-edison-2016-10-07_04-27-05-build-507.toflash.tar.bz2
I can't check my machine at the moment but from memory it was node.js 4.5

[2017-09-07 05:26] ttzeng commented on #182
@pcaston the Ostro 507 image built with iotivity-node 1.1.1-3 which is out of date. The master branch of the SmartHome-Demo repo now [depends on iotivity-node 1.3.0](https://github.com/01org/SmartHome-Demo/commit/6c32d4c222fe48d80cda9cb724fb9f41077b8f31), so it seems you were blocked by the mismatch of the iotivity-node versions.

[2017-09-07 05:32] pcaston commented on #182
@ttzeng so I should use the latest Ostro version?

[2017-09-07 06:28] ttzeng commented on #182
@pcaston Unfortunately the Ostro project does not upgrade components for months, it's still iotivity-node 1.1.1-3 included in the latest image. :(

Though I admit it's a bad idea, but if you only want to setup an OCF server to test with, and you won't enable the secure mode, you might consider to checkout the 1.1.1-3 release label for simplicity.

[2017-09-08 04:54] pcaston commented on #182
@ttzeng many thanks.  I tried that suggestion and got the OCF server detection and control working through the mobile cordova app.  I saw the other issue about the tutorial needing an update, so I will work carefully through the suggestions made there to get the full system working.

[2017-09-08 04:54] #182 closed

[2017-09-08 06:32] xiaoyu3x opened #183 "'/bmi160/temperature' sensor can't be showed all the time on cloud portal"
## Description:
When using PR #180  and iot-rest-api-server@0.5.0, '/bmi160/temperature' sensor only appeared a time on cloud portal and disappeared soon.

## Steps:
1.Install iot-rest-api-server to 0.5.0: npm install iot-rest-api-server@0.5.0 and launch it.
2.Build the temperature.js zjs-server JS sample and and flash it to set up the 6lowpan.
3.Try to discover the OCF resources: `cd iot-rest-api

[2017-09-08 10:14] ttzeng commented on #183
@xiaoyu3x if you can continue discover the ZJS servers via the /oic/res endpoint until running the web portal, then I suspect you are observing the same symptom of the issues #136 and #140. Please also be aware of this potential GET issue https://github.com/01org/zephyr.js/issues/1457

[2017-09-12 09:20] ichbinblau commented on #181
Hi, @gvancuts . I have reviewed and tested the changes. The filter works perfectly.

[2017-09-15 03:23] xiaoyu3x opened #184 "Sometimes fail to edit sensor status value on cloud portal"
## Description:

There are 2/5 times failure when modifying sensor  value on cloud portal. After "Server error:INTERNAL SERVER ERROR " popups.

## Steps:

1.Install iot-rest-api-server to 0.5.0: npm install iot-rest-api-server@0.5.0 and launch it.
2.Build the multiserver2.js zjs-server JS sample and and flash it to set up the 6lowpan.
3.Try to discover the OCF resources: cd iot-rest-api-server/tes

[2017-09-15 05:29] xiaoyu3x commented on #181
This issue isn't reproduced with commit [6df7e38](https://github.com/01org/SmartHome-Demo/commit/6df7e3813c38a4b4141f65736a4c4474732a438d)

[2017-09-15 08:57] gvancuts commented on #181
Thanks for the confirmation! :+1:

[2017-09-28 07:17] xiaoyu3x opened #185 "Sensor can't be showed on cloud portal with iot-rest-api-server@0.6.0"
## Description:

Sensor can't be showed on cloud portal when using iot-rest-api-server@0.6.0.

## Steps:
1.Install iot-rest-api-server to 0.6.0 and launch
[code]
2.Build the  [led.js](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/zjs-servers/led.js) and and flash it to set up the 6lowpan.
3.Try to discover the OCF resources: `cd iot-rest-api-server/test && ./oic-get /res?rt=oic.r

[2017-09-28 07:32] xiaoyu3x commented on #175
@ttzeng
iot-rest-api-server@0.6.0 can retrieve resource when using commit [e789b4c](https://github.com/01org/iot-rest-api-server/commit/e789b4c7eeeaacbab83b597b9200716f93aa0e35) and new command `./oic-get /res?rt=***`, but still have some question existence.
e.g.
command `$ ./oic-get /a/led?di=***` can't be used.
There is a relative bug [#1548](https://github.com/01org/zephyr.js/issues/1548)

[2017-10-13 01:24] xiaoyu3x commented on #175
hi, @qiuzhong
By command `$ ./oic-get /a/led?di=***` can work normally, so please closed it.
Some issues also exist during retrieve resource and they will be tracked with [#1566](https://github.com/01org/zephyr.js/issues/1566)

[2017-10-13 01:56] qiuzhong commented on #175
Closed

[2017-10-13 01:56] #175 closed

[2017-10-26 15:29] gvancuts opened #187 "Enhance our Dockerfile to adopt best practices"
There are a number of best practices that have been documented on how to write Dockerfile - see https://docs.docker.com/engine/userguide/eng-image/dockerfile_best-practices/. We should look at our Dockerfile and apply those. The low-hanging fruit are to re-write what we do when doing `RUN apt-get update` and `RUN apt-get install -y` and also reduce the number of `RUN` lines.

[2017-10-26 15:30] gvancuts commented on #187
@ttzeng , FYI

[2017-11-07 05:54] xiaoyu3x opened #188 "Misuse "sudo" leads to happen error during running gateway-server.js"
## Description:

Due to misuse "sudo" command in the [README.md](https://github.com/01org/SmartHome-Demo/tree/master/gateway#native-installation) to install lib package(iot-rest-api-server), error happens when running gateway-server.js.

## Steps:
1. Clone smartHome-demo
[code]
2. Install node.js dependencies
[code]
3.Start the Home GW services
[code]

## Actual Result:
![selection_001](https://us

[2017-11-07 10:03] gvancuts commented on #188
Hi @xiaoyu3x , thanks for the report! I have created a PR to fix this (I have not tested it however). Could you test that PR and let me know if it properly fixes this issue? Thanks!

[2017-11-08 01:08] xiaoyu3x commented on #188
OK, @gvancuts
I will verify PR #189  and add comment into it.

[2017-11-24 09:36] #188 closed

[2017-12-01 02:23] xiaoyu3x commented on #188
This issue isn't reproduced with commit [c791f25](https://github.com/intel/SmartHome-Demo/commit/c791f257d03148bbd837ef4aecc173b339685d79)

[2018-01-24 08:24] xiaoyu3x opened #191 "Can't find module 'arduino101_pins' when running multiserver2.js"
## Description:

'arduino101_pins' module has been abandoned, so need to update multiserver2.js code.

## Steps:
1.Build the  [multiserver2.js](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/zjs-servers/multiserver2.js) and flash it  into A101.
2.Reset it and check output by `minicom -D /dev/ttyUSB0`
![selection_046](https://user-images.githubusercontent.com/17694094/35319947-f789

[2018-01-24 08:30] xiaoyu3x commented on #191
To resolve this issue, PR #192 has been submitted.
Please help to merge.

[2018-01-24 09:03] ttzeng commented on #191
@xiaoyu3x thanks for updating the code with the the latest API. Though I don't have the hardware setup for verification, but the patch looks good. Thanks.

[2018-01-25 07:10] xiaoyu3x commented on #107
hi, @qiuzhong
Now, resourceTypes has been 'oic.r.switch.binary' in [led.js](https://github.com/intel/SmartHome-Demo/blob/master/ocf-servers/zjs-servers/led.js).
Please check this issue, then closed it.

[2018-01-26 00:57] xiaoyu3x commented on #191
#192 has been merged, so closed it.

[2018-01-26 00:57] #191 closed

[2018-01-26 06:42] wanghongjuan commented on #185
@ichbinblau @ttzeng @gvancuts Could you please take a look this issue?

[2018-01-26 07:58] gvancuts commented on #185
Hi @wanghongjuan , could you send us a log from the container (see paragraph 8 in [this document](https://github.com/intel/SmartHome-Demo/blob/master/smarthome-web-portal/tools/docker/README.md) for instructions)?

[2018-01-26 16:10] uhofemei commented on #191
@xiaoyu3x which version of Zephyr are you testing this with? I received an update from one of our ZJS developers stating that Bluetooth in Zephyr version 1.10 should be more stable. Would you have cycles to test this? https://github.com/intel/zephyr.js/issues/1237#issuecomment-360563217

[2018-01-26 18:52] jimmy-huang commented on #191
@uhofemei Yeah, so looking at the report, it looks like all the tests on A101 passed, except the ones blocked by the cloud portal issue.

[2018-01-26 18:55] uhofemei commented on #191
We have a team in PRC testing the ZJS multiserver2.js example. I asked them if they would be able to pick up Zephyr 1.10 to try this out. Thanks.

[2018-01-29 03:28] xiaoyu3x commented on #185
hello, @gvancuts
Sorry,  I upload container log late.
The following is container log and I flash led.js into A101.
Iot-rest-api-server can get led resource by command `./oic-get /res?rt=oic.r.switch.binary`, but web-portal can't get led resource and it can't get led resource by this way.
[docker.log](https://github.com/intel/SmartHome-Demo/files/1672086/docker.log)

[2018-01-29 05:18] ichbinblau commented on #185
Hi, @xiaoyu3x  Have you set the IoT rest service url in the admin portal? Telling from the log, celery worker failed to reach the rest service.

[2018-01-29 03:05:08,339: INFO/ForkPoolWorker-3] Starting new HTTP connection (1): 172.17.0.1
[2018-01-29 03:05:08,340: ERROR/ForkPoolWorker-3] <class 'requests.exceptions.ConnectionError'> HTTPConnectionPool(host='172.17.0.1', port=8000): Max retries exc

[2018-01-29 06:39] xiaoyu3x commented on #185
Sorry, @ichbinblau
Just log content is not clear. I get a new log when web portal runs normally.
The following is container log
[docker.log](https://github.com/intel/SmartHome-Demo/files/1672467/docker.log)

You can see docker retrieve resource normally and /a/led can be found.

[code]
But I can't see LED sensor on web portal.
![selection_011](https://user-images.githubusercontent.com/17694094/354

[2018-01-29 06:58] ichbinblau commented on #185
@xiaoyu3x I found the path (/oc/wk/introspection) is not an known resource path. Would you also send me the output of the /oic/api/res?

[2018-01-29 08:01] xiaoyu3x commented on #185
hi, @ichbinblau
The following is localhost:8000/api/oic/res result.
![selection_015](https://user-images.githubusercontent.com/17694094/35499341-e2c3e99c-050c-11e8-86d2-8ab40573cade.png)
![selection_016](https://user-images.githubusercontent.com/17694094/35499354-ebc0bcdc-050c-11e8-85e2-ccb6d656c2e1.png)

Why there are two kinds of results? This issue's key is iot-rest-api-server hasn't support `.

[2018-01-29 17:09] uhofemei commented on #185
@xiaoyu3x which version of Zephyr are you testing this with? I received an update from one of our ZJS developers stating that Bluetooth in Zephyr version 1.10 should be more stable. Would you have cycles to test this? intel/zephyr.js#1237 (comment)

[2018-01-29 17:58] jimmy-huang commented on #185
@xiaoyu3x is probably right, ZJS can longer support get /res to retrieve all resources at the same time, because the string that encapsulates all the metadata is not going to work on the A101 due to memory constraints, so the best way is to change the web portal to retrieve the resources individually using get /res?rt= to ensure that you get a response.

[2018-01-29 18:03] uhofemei commented on #185
This would mean the celery/flask queue engine code that retrieves the sensor data would have to be re-written to fetch the sensor data. @gvancuts, what do you think?

[2018-01-29 20:19] gvancuts commented on #185
We _could_ change our code to accomodate this limitation. *But* it does make me wonder if that behaviour is appropriate. Shouldn't this be fixed in ZJS instead?

I was also trying (not very hard) to follow the thread that @xiaoyu3x pointed at earlier (see https://github.com/intel/zephyr.js/issues/1548#issuecomment-331147561) and I thought that one had been fixed. If so, are we sure we have identif

[2018-01-30 19:07] jimmy-huang commented on #185
@gvancuts This is just a hardware limitation with running A101 given the limited num of RAM.  There's nothing we could do on ZJS, so I think the options are limited if you are planning to use the A101 to work around these issues.  However, I do agree that we first need to identify if the problem to make sure this is the appropriate fix.

[2018-01-30 22:45] jimmy-huang commented on #185
on a side note, have you guys tried increasing ram settings by setting RAM=70 or something higher? I think it defaults to 64k, so 16k is left for ARC, but I am sure the ARC uses less than that, so you can pull off a few K ram into the X86 side.  At least if you can get enough to store the the JSON string that's being returned to the client.

[2018-01-31 14:03] gvancuts commented on #185
@jimmy-huang , is there any kind of error we could return to indicate that the answer won't be valid?

[2018-01-31 23:50] jimmy-huang commented on #185
@gvancuts  I don't remember the details of the bug but I believe it was segfaulting, so i don't know if had a chance to actually send anything back to the client, it appeared looking at the log that the server just died, and the iot-rest-server got an empty list of elements back.

[2018-03-02 06:54] xiaoyu3x commented on #185
hello, @jimmy-huang

Is there new progress about this issue？

[2018-03-02 17:52] jimmy-huang commented on #185
@xiaoyu3x no, there's not much progress in OCF and Zephyr, did you try the updated RAM settings I mentioned? like building with RAM=74 or something?

[2018-03-07 03:19] xiaoyu3x commented on #185
hello, @jimmy-huang
Thanks for your advice.
According to your suggestion, I set RAM=74 and more.
I obtained the following result on iot-rest-api-server when RAM=74:
![selection_001](https://user-images.githubusercontent.com/17694094/37071576-19f3e4dc-21f8-11e8-8e68-570995011ef1.png)
I couldn't use command `oic-get /res` to retrieve sensors that I want to select resources.
I only retrieve expect re

[2018-03-07 20:17] jimmy-huang commented on #185
Yeah, if you are trying to use get /res without specifying a type, then RAM is really important, and there's nothing you can really do if you use the a101.

[2018-03-08 06:46] xiaoyu3x commented on #185
hello, @jimmy-huang
I just used `/res` and ` /res?rt=` separately to test FRDM K64F board.
Only Flash led sensor into k64f, I find led resource can be retrieve successfully in two ways.
![selection_003](https://user-images.githubusercontent.com/17694094/37137021-f8a0135e-22de-11e8-8801-4efe0f732470.png)

Flash multi sensors into k64f, can find resource by ` /res?rt=` way, `/res ` way can't retriev

[2018-03-09 08:16] xiaoyu3x opened #199 ""onchange" event lose efficacy as alteration of W3C Generic Sensor API"
## Description:

"onchange" event lose efficacy as alteration of W3C Generic Sensor API

## Steps:
1.Install iot-rest-api-server and launch
[code]
2.Build the  [temperature.js](https://github.com/01org/SmartHome-Demo/blob/master/ocf-servers/zjs-servers/temperature.js) and and flash it to set up the 6lowpan.
3.Try to discover the OCF resources: `cd iot-rest-api-server/test && ./oic-get /res?rt=oic.

[2018-03-09 08:31] xiaoyu3x commented on #199
hello, @gvancuts
PR #200 is to fix this issue, please help me to check it.

[2018-03-16 02:12] xiaoyu3x commented on #199
Due to PR #200 has been merged, so close it.

[2018-03-16 02:12] #199 closed